.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.UIPopupMessages .UIHorizontalTabs {
  display: none;
}
.UIPopupMessages .PopupMessageBox {
  height: 100%;
}
.UIPopupMessages .InfoMessage .MessageContainer {
  border-bottom: 0px;
}
.UIFCCPortlet {
  background: #ffffff;
  padding: 10px;
}
.UIFCCPortlet .SelectPathIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/SearchPath.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UIFCCPortlet .SelectPath24x24Icon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/SearchPath.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 4px;
}
.UIFCCPortlet .AddRootNodeIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/SelectPath.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UIFCCPortlet .Add16x16Icon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/AddIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 10px;
}
.UIFCCPortlet .Edit16x16Icon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/EditAction.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UIFCCPortlet .Delete16x16Icon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/DeleteAction.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UIFCCPortlet .MsgLable {
  text-align: center;
  line-height: 40px;
  color: #c72222;
  border: 1px solid red;
}
.UIFCCPortlet .UITabPane .TabPaneContent {
  margin: auto;
}
.UIFCCPortlet .UIFormGrid {
  width: 100%;
}
.UIFCCPortlet .UIFormGrid .FieldLabel {
  width: 150px;
}
.UIFCCPortlet .MultiValueContainer a {
  margin: 0px 5px;
}
.UIFCCPortlet .UIFormUploadInput .ProgressBarFrame {
  width: 330px;
  overflow: hidden;
  margin: 0px;
}
.UIFCCPortlet .UIFormUploadInput .SelectFileFrame {
  width: 330px;
  overflow: hidden;
  margin: 0px;
}
.UIFCCPortlet .UIFormUploadInput .FileNameLabel {
  width: auto;
}
.UIFCCPortlet .UIFCCConfig .HorizontalLayout .UIFormInputSet .AddIcon16x16 {
  margin-left: 5px;
  float: none;
}
.UIFCCPortlet .UIFCCConfig .HorizontalLayout .FormContainer {
  padding: 0;
  margin: auto;
}
.UIFCCPortlet .UIFCCConfig .HorizontalLayout .UIFormInputSet {
  margin: auto;
  padding: 0px;
  width: 100%;
}
.UIFCCPortlet .UIFCCConfig .FieldComponent .actionInput {
  width: 100%;
  padding: 0px;
}
.UIFCCPortlet .UIFCCConfig .FieldComponent .actionInput .FieldComponent {
  padding: 4px 0px;
}
.UIFCCPortlet .UIFCCConfig .UIForm .HorizontalLayout input.checkbox {
  width: 16px;
}
.UIFCCPortlet .UIFCCConfig .UIForm .HorizontalLayout input {
  width: 233px;
}
.UIFCCPortlet .UIForm td.FieldComponent {
  padding: 4px 0px;
}
.UIFCCPortlet .UIForm .rootNodeInfo td.FieldComponent {
  padding: 0px;
}
.UIFCCPortlet .UIOneNodePathSelector .rootNodeInfo .UIFormInputSet {
  padding: 0px;
}
.UIFCCPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px 0px 4px;
  vertical-align: middle;
}
.UIFCCActionContainer .UIFormWithTitle {
  width: auto;
}
.UIFCCActionContainer .UIFormWithTitle input {
  width: 220px;
}
.UIFCCActionContainer .UIFormWithTitle select {
  width: 226px;
}
.UIFCCActionContainer .UIFormWithTitle textarea {
  width: 224px;
}
.UITrees .Node .NodeIconLink {
  background-position: left top;
  font-weight: bold;
  height: 16px;
  padding-left: 11px;
  width: 20px;
}
.UIOneNodePathSelector .LinkSmall {
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}
.SearchIcon {
  border: 1px none;
  height: 24px;
  padding: 10px;
  width: 24px;
}
.HorizontalLayout .UIForm input.checkbox {
  margin: 10px 0 0 2px;
  width: 16px;
}
.UIForm .HorizontalLayout input.checkbox {
  margin: 0;
  width: 16px;
}
.UIMaskWorkspace .UIFormWithTitle {
  margin: auto;
  padding: 0 0 50px;
  width: 550px;
}
.UIFCCPortlet .Add16x16Icon {
  background: url("/eXoSkin/skin/images/themes/default/ecms/portlets/fastcontentcreator/Icons/AddIcon.png") no-repeat 0 0;
  cursor: pointer;
  height: 16px;
  margin-top: 2px;
  width: 16px;
}
