.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.UISingleContentViewerPortlet .Message {
  border: 1px solid #cccccc;
  height: 55px;
  padding: 10px;
  margin: 0px 5px;
  text-align: center;
  font-size: 13px;
  background: #ffffff;
}
.UISingleContentViewerPortlet .EditMode {
  padding: 5px;
  border: 1px solid #cccccc;
  margin: 0px 5px;
  background: #ffffff;
}
.UISingleContentViewerPortlet .SCVNoContent {
  height: 20px;
  text-align: center;
  font-size: 13px;
  background: #ffffff;
  padding: 10px;
  margin: 5px;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .LeftColumn {
  float: left;
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/LeftContent188x219.gif') no-repeat left top;
  width: 188px;
  height: 219px;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer {
  margin-left: 200px;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer .CreateNewContent {
  height: 22px;
  line-height: 22px;
  margin: 5px 0px 5px 250px;
  padding-left: 25px;
  width: auto;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer .SelectContent {
  background: transparent url("/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/BlueOpenFolder.gif") no-repeat scroll left center;
  height: 22px;
  line-height: 22px;
  margin: 5px 0px 5px 250px;
  padding-left: 25px;
  width: auto;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeScreen {
  padding: 20px 0px 10px;
  font-weight: bold;
  text-align: center;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeLable {
  font-size: 15px;
  color: #2f5e92;
  line-height: 30px;
  height: 30px;
  padding-bottom: 5px;
  text-align: left;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeText {
  height: 20px;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeLablePadding {
  padding-left: 15px;
  font-weight: bold;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeTextPadding {
  padding-left: 15px;
  line-height: 25px;
}
.UISingleContentViewerPortlet .UIWizard {
  width: auto;
  background: #ffffff;
}
.UISingleContentViewerPortlet .QuickEditToolBar {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/QuickEditToolBar.gif') repeat-x left top;
  height: 25px;
  line-height: 25px;
}
.UISingleContentViewerPortlet .AdvancedOptions {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/AdvancedOptionIcon.gif') no-repeat left center;
  color: #2f5e92;
  font-weight: bold;
  padding-left: 20px;
  margin-right: 5px;
  cursor: pointer;
  float: right;
}
.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .PageNodeContainer {
  display: none;
}
.UISingleContentViewerPortlet .ShowHelp {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/ShowHelp.gif') no-repeat left center;
  color: #2f5e92;
  font-weight: bold;
  padding-left: 20px;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
  float: right;
}
.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .PageInfoContainer {
  border: 0;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .SelectedPageInfo {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}
.UISingleContentViewerPortlet .UIForm .HorizontalLayout .textarea {
  width: 525px;
  height: 275px;
}
.UIWelcomeScreen .HorizontalLayout {
  padding: 0px;
  background: #ffffff;
}
.UIWebContentSelectorForm {
  margin: 8px auto;
}
.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet {
  padding: 0px;
  width: auto;
}
.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
  padding: 0px;
}
.UIWebContentSelectorForm .UIFormGrid .UIFormGrid .FieldComponent {
  padding: 0px;
}
.UIWebContentSelectorForm .BrowsePublicationIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoSkin/skin/images/themes/default/Icons/skinIcons/16x16/BrowseContent.gif') no-repeat;
  cursor: pointer;
}
.UIWebContentSelectorForm .BrowseIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoSkin/skin/images/themes/default/Icons/skinIcons/16x16/BrowseContent.gif') no-repeat;
  cursor: pointer;
}
.UIDMSSelectorForm {
  margin: 8px auto;
}
.UIDMSSelectorForm .UIFormGrid .UIFormInputSet {
  padding: 0px;
  width: auto;
}
.UIDMSSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
  padding: 0px;
}
.UIDMSSelectorForm .UIForm .UIFormGrid .FieldComponent {
  padding: 0px;
}
.UIDMSSelectorForm .HorizontalLayout {
  padding-top: 10px;
}
.UIDMSSelectorForm .BrowseIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoSkin/skin/images/themes/default/Icons/skinIcons/16x16/BrowseContent.gif') no-repeat;
  cursor: pointer;
}
.UINameWebContentForm .UIForm .HorizontalLayout .FieldComponent {
  width: 750px;
}
.UINameWebContentForm .UIForm .HorizontalLayout .textarea {
  width: 80%;
  height: 180px;
}
.UISingleContentViewerPortlet .UIFormWithTitle {
  width: 800px;
}
.UIDMSSelectorForm .BrowsePublicationIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoSkin/skin/images/themes/default/Icons/skinIcons/16x16/BrowseContent.gif') no-repeat;
  cursor: pointer;
}
.UIWCMPublicationGrid .SelectIcon {
  background-image: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/SelectPage.gif');
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.UISingleContentViewerPortlet .UIDMSPathSelector {
  margin: 8px;
  padding: 8px;
  border: 1px solid #cccccc;
  background: #F3F3F3;
}
.UISingleContentViewerPortlet .QuickEditContainer {
  border: 1px solid #cccccc;
  background: #ffffff;
}
.UISingleContentViewerPortlet .QuickEditContainer .UIFormGrid td.FieldLabel {
  white-space: nowrap;
  width: 75px;
}
.UINameWebContentForm .UIFormGrid td.FieldLabel {
  white-space: nowrap;
  vertical-align: middle;
}
.UISingleContentViewerPortlet .QuickEditContainer .UIFormGrid {
  width: 99%;
}
.UISingleContentViewerPortlet .QuickEditBackButton {
  text-align: right;
  padding: 0px 10px;
  height: 36px;
  line-height: 36px;
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/WizardStepBar.gif') repeat-x bottom;
  border-bottom: 1px solid #cccccc;
}
.UISingleContentViewerPortlet .QuickEditBackButton a {
  color: #2f5e92;
  font-weight: bold;
  font-size: 12px;
}
.UISingleContentViewerPortlet .QuickEditBackButton a:hover {
  text-decoration: underline;
}
.UISingleContentViewerPortlet .UIFormGrid td.FieldLabel,
.UISingleContentViewerPortlet .UIFormGrid td {
  vertical-align: middle;
}
.UISingleContentViewerPortlet .UIFormGrid td.AlignRight {
  text-align: right;
}
.UISingleContentViewerPortlet .UIContentDialogConfig .UIFormGrid td.FieldLabel {
  padding: 4px;
  width: 385px;
}
.UISingleContentViewerPortlet .UIFormGrid {
  width: 100%;
}
.UISingleContentViewerPortlet .UIWizard .UIWCMUserContainer .Icon {
  float: left;
  width: 16px;
  height: 16px;
}
.UIPresentationContainer .Title {
  font-size: 24px;
  width: 100%;
  padding: 2px 0 0;
  overflow: hidden;
}
.UIPresentationContainer .TitleHover {
  background: #fffacd;
  font-size: 24px;
  width: 100%;
  padding: 2px 0 0;
  cursor: text;
}
.UIPresentationContainer .EditTitle {
  background: #fffacd;
  display: none;
  line-height: 20px;
  padding: 2px 7px 2px 2px;
}
.UIPresentationContainer .EditTitleInput {
  margin-right: 45px;
}
.UIPresentationContainer .EditTitleInput input {
  width: 99%;
  border: 1px solid #BFD5ED;
}
.UIPresentationContainer .EditTitleInput TEXTAREA {
  width: 99%;
  border: 1px solid #BFD5ED;
}
.UIPresentationContainer .EditTitle .AcceptButton {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/accep_button.png') no-repeat scroll left center;
  display: inline-block;
  width: 16px;
  height: 22px;
  float: right;
  margin-right: 5px;
}
.UIPresentationContainer .EditTitle .CancelButton {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/cancel_button.png') no-repeat scroll left center;
  display: inline-block;
  width: 14px;
  height: 22px;
  float: right;
}
.UIPresentationContainer .BackButton {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/background/BackIcon.gif') no-repeat center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
}
.UIPresentationContainer .DateAndMail {
  color: #999999;
  font-size: 10px;
}
.UISingleContentViewerPortlet .UIContainerConfigOptions {
  border: 1px solid #cccccc;
}
.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions {
  line-height: 16px;
  border: 1px solid #ffffff;
  width: auto;
}
.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions .DescripberStep {
  padding: 5px 0px;
}
.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions .StepNavigationTitle {
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 1px;
}
.UISingleContentViewerPortlet .UIStartEditionInPageWizard {
  text-align: center;
  padding: 20px;
}
.UISingleContentViewerPortlet .UIStartEditionInPageWizard a:hover {
  font-size: 12px;
  color: #2f5e92;
}
.UISingleContentViewerPortlet .DraftIcon {
  padding-left: 20px;
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/DraftIcon.gif') no-repeat left center;
}
.UIContentViewerContainer .DraftIcon {
  padding-left: 20px;
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/DraftIcon.gif') no-repeat left center;
}
.UIOptionBar .PrintIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/ActionIcon.gif') no-repeat bottom left;
  padding-left: 20px;
  display: block;
  float: left;
}
.UIOptionBar .EmailIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/ActionIcon.gif') no-repeat top left;
  padding-left: 20px;
}
.UIOptionBar .VoteIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/ActionIcon.gif') no-repeat left -21px;
  padding-left: 20px;
}
.UIOptionBar .CommentIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/ActionIcon.gif') no-repeat left -42px;
  padding-left: 20px;
}
.UIOptionBar .InfoIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/ActionIcon.gif') no-repeat left -63px;
  padding-left: 20px;
}
.HorizontalLayout .UIForm input {
  font-size: 11px;
  width: auto;
}
.UIPresentationContainer .ActionContainer {
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-top: 1px dotted #cccccc;
}
.UIPresentationContainer .ActionContainer .PrintFrameIcon {
  padding: 4px 15px 2px 23px;
  font-size: 12px;
}
.UIPresentationContainer .ActionContainer .PrintFrameIcon:hover {
  text-decoration: underline;
  color: #2f5e92;
}
.UIPresentationContainer .ActionContainer .PrintIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/PrintFrameIcon.gif') no-repeat top left;
}
.UIPresentationContainer .ActionContainer .CloseIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/PrintFrameIcon.gif') no-repeat left -19px;
}
/*============================= UISCVPreferences ====================*/
.UISingleContentViewerPortlet .UISCVPreferences .SelectFolderPathIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/16x16/AddPage.gif') no-repeat left center;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: -2px;
}
.UISingleContentViewerPortlet .UISCVPreferences .SelectTargetPageIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/SingleContentViewer/icons/SearchIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UISingleContentViewerPortlet .UISCVPreferences .tdShowHelp {
  width: 30px;
}
.UISingleContentViewerPortlet .UISCVPreferences a.AdvancePreferences {
  color: #2f5e92;
  text-align: left;
  text-decoration: underline;
}
.UISingleContentViewerPortlet .UISCVPreferences .fieldsetPreferences {
  margin: 10px;
  border: 1px solid #cccccc;
}
.UISingleContentViewerPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}
.UISingleContentViewerPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}
.UISingleContentViewerPortlet .MiddleRightContainerOptions {
  width: 200%;
}
.UISingleContentViewerPortlet .UIPageNodeSelector {
  width: 100%;
}
.UISingleContentViewerPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left: 10px;
}
.UIAction .ActionContainer a:hover {
  color: #058ee6;
}
.UISingleContentViewerPortlet .UISCVPreferences #UISCVShowAdvanceOption {
  margin: 10px;
  display: block;
}
.UISingleContentViewerPortlet .UISCVPreferences a.AdvancePreferences {
  outline: none;
}
.UISingleContentViewerPortlet .UISCVPreferences .UIFormInputSet {
  padding: 0px;
}
/*
.UISingleContentViewerPortlet .UIPresentationContainer .webContentContainer ul, .UISingleContentViewerPortlet .UIPresentationContainer .webContentContainer ol, .UISingleContentViewerPortlet .UIPresentationContainer .webContentContainer dl {
    padding: 0 40px;
    margin-top: 15px;
}
.UISingleContentViewerPortlet .UIPresentationContainer .webContentContainer ul li {
    list-style-type: disc;
}
*/