.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------UIFolderPathSelectorForm------------------------------------*/
.UICLVFolderMode {
  border: 1px solid transparent;
}
.Column2 {
  border: 1px solid transparent;
}
.Column1 {
  border: 1px solid transparent;
  overflow: hidden;
}
.UICLVPortlet .uiBox .title {
  *zoom: 1;
}
.UICLVPortlet .uiBox .title:before,
.UICLVPortlet .uiBox .title:after {
  display: table;
  content: "";
  line-height: 0;
}
.UICLVPortlet .uiBox .title:after {
  clear: both;
}
.UICLVPortlet .uiBox .title .rssIcon {
  line-height: 0;
}
.UICLVPortlet .uiBox .media .heading a {
  font-weight: bold;
  color: #333333;
}
.UICLVPortlet .TitleBox {
  background: #f0f0f0;
  border: 1px solid #cccccc;
  font-weight: bold;
  padding: 0 4px;
  vertical-align: middle;
  margin-bottom: -1px;
  line-height: 18px;
}
.UICLVPortlet .FolderExplorer {
  float: left;
  width: 230px;
  margin-right: 10px;
}
.UICLVPortlet .FolderExplorer .FolderExplorerTree {
  width: 230px;
}
.UICLVPortlet .UICLVFolderSelector {
  padding: 10px;
}
.UICLVPortlet .UICLVFolderSelector .UITreeList {
  margin-left: 240px;
}
.UICLVPortlet .UICLVFolderSelector .Select16x16Icon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/SelectPage.gif') no-repeat;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
/*---------------------------UIViewerManagementForm------------------------------------*/
.UICLVPortlet .UICLVConfig .SelectFolderPathIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/AddPage.gif') no-repeat left center;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: -2px;
}
.UICLVPortlet .UICLVConfig .FolderPathInputSet .UIFormInputSet .FormContainer {
  margin-left: -2px;
  padding: 0px;
}
.UICLVPortlet .UICLVConfig .UIFormInputSet {
  margin: auto;
  padding: 0px;
}
.UICLVPortlet .UICLVConfig input,
.UICLVPortlet .UICLVConfig select {
  font-size: 11px;
  width: auto;
}
.UICLVPortlet .UICLVConfig .FieldLabel {
  width: 125px;
}
.UICLVPortlet .UICLVConfig .TitleBar {
  background: transparent url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/BgCategoryTitle1x25.gif') repeat-x scroll 0 0;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  color: #333333;
  font-weight: bold;
  line-height: 25px;
  padding-left: 10px;
  text-align: center;
}
.UICLVPortlet .UICLVConfig .tdShowHelp {
  width: 30px;
}
.UICLVPortlet .UICLVConfig .fieldsetPreferences {
  margin: 10px;
  border: 1px solid #cccccc;
}
.UICLVPortlet .UICLVConfig .UIFormGrid {
  width: 100%;
}
.UICLVPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  margin-left: -2px;
  padding: 0px;
}
.UICLVPortlet .UIFormInputSetWithAction input,
.HorizontalLayout .UICLVPortlet .UIFormInputSetWithAction input {
  width: 220px;
}
.HorizontalLayout .UICLVPortlet .UIContentSearchForm .UIForm input {
  font-size: 11px;
  width: auto;
}
.HorizontalLayout .UICLVPortlet .UIContentSearchForm .UIForm select {
  width: auto;
}
.UICLVPortlet .UIStartEditionInPageWizard {
  text-align: center;
  padding: 20px;
}
.UICLVPortlet .UIStartEditionInPageWizard a:hover {
  font-size: 12px;
  color: #2f5e92;
}
.UIContentGrid {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  margin: auto;
  padding-left: 1px;
}
.UIContentGrid .OddRow {
  background: #f0f0f0;
}
.UIContentGrid .EvenRow {
  background: #f8f8f8;
}
.UIContentGrid td {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  height: 20px;
  line-height: 20px;
  padding: 4px;
}
.UIContentGrid th {
  background: #f0f0f0;
  border: 1px solid #cccccc;
  font-weight: normal;
  line-height: 19px;
  padding: 0 4px;
  vertical-align: middle;
}
.UIContentGrid .DownRowIcon {
  background-image: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/BlueDownArrow.gif');
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.UIContentGrid .UpRowIcon {
  background-image: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/BlueUpArrow.gif');
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.UIContentGrid .DeleteContentIcon {
  background-image: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/Delete.gif');
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.UIContentGrid .DeleteIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/DustBin.gif') no-repeat;
}
.UICLVPortlet .UICLVContentSelector {
  margin: 10px;
}
.UICLVPortlet .UICLVContentSelectionPanel {
  margin-bottom: 10px;
  width: 93%;
}
.UICLVPortlet .UICLVContentSelectedGrid {
  width: 93%;
}
.UICLVPortlet .UICLVConfig .ItemsPerPage input {
  width: 20px;
}
.UICLVPortlet .UIContentListPresentationDefault .Caption .CaptionFunc {
  padding: 10px 0;
  height: 39px;
  overflow: hidden;
}
.UICLVPortlet .CaptionFunc .UIPaginatorDefault {
  text-align: right;
  float: right;
}
.UICLVPortlet .CaptionFunc .CaptionRefresh {
  float: left;
}
.UICLVPortlet .CaptionFunc .CaptionRefresh a {
  display: block;
  padding: 0 3px 3px 25px;
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/RefreshIcon.gif') no-repeat;
  color: #ff4200;
  font-weight: bold;
  font-size: 13px;
}
.UICLVPortlet .SelectTargetPageIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/SearchIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UICLVPortlet .QuestionIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/QuestionIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.UICLVPortlet .UIFormGrid {
  margin: 0;
}
.UICLVPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}
.UICLVPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}
.UICLVPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}
.UICLVPortlet .MiddleRightContainerOptions {
  width: 200%;
}
.UICLVPortlet .UIPageNodeSelector {
  width: 100%;
}
.UICLVPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left: 10px;
}
.UICLVPortlet .RssIcon {
  background: url('/eXoSkin/skin/images/themes/default/ecms/portlets/presentation/ContentListViewer/icons/RSS.gif') no-repeat left top;
  padding-left: 22px;
  float: right;
  color: #fe9832;
  display: block;
  margin-top: 9px;
  line-height: 16px;
  font-size: 11px;
}
.OneColumnCLVTemplate .Contents .Column1 img {
  width: 51px;
}
.UIPageNodeSelector .UIVerticalSlideTabs {
  border: medium none;
  width: 100%;
}
.UIForm .FieldComponent .FieldComponent input {
  width: 220px;
}
.UIContainerConfigOptions .ContainerConfigOptions {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #f0f0f0;
  width: 100%;
}
.TwoColumnsCLVTemplate .CLV {
  border: 1px solid transparent;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
.TwoColumnsCLVTemplate .Contents .Column2 {
  margin-right: 10px;
  padding: 0 0 10px;
}
.RightBodyTDContainer .twoColumnsCLVTemplate {
  margin: 25px;
}
.twoColumnsCLVTemplate .uiBox .media .image {
  margin: 6px 15px 0 0;
}
.twoColumnsCLVTemplate .uiBox .media .heading {
  font-weight: bold;
}
.twoColumnsCLVTemplate .uiBox .media .heading a {
  color: #333333;
}
.twoColumnsCLVTemplate .uiBox .media .dateAndMail {
  color: #999999;
}
.twoColumnsCLVTemplate .uiBox .media .summary p {
  margin-bottom: 0;
}
.twoColumnsCLVTemplate .rowContent .Column2 {
  margin-top: 0;
  width: 48%;
  float: left;
  border-right: 0 none;
}
.twoColumnsCLVTemplate .rowContent .Column2 + .Column2 {
  margin-left: 15px;
}
.documentsCLVTemplate .media .image.pull-left {
  margin-top: 4px;
  margin-right: 10px;
}
.documentsCLVTemplate .media-body .heading p {
  margin-bottom: 0;
}
.UICLVHotNews .NormalNews {
  margin-top: 10px;
}
.UICLVHotNews .Date {
  padding-left: 20px;
}
