.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*=========== Vetical tabs =============*/
@media (min-width: 980px) {
  .uiECMAdminPortlet .uiResizableBlock .ShowSideBar {
    margin-left: 256px;
  }
}
.uiECMAdminPortlet .ecmAdminPanel {
  height: 100%;
  overflow: auto;
  float: none;
  margin: 15px;
}
@media (min-width: 980px) {
  .uiECMAdminPortlet .ecmAdminPanel {
    width: 233px;
    float: left;
    padding: 24px 13px 0px 24px;
    margin: 0;
  }
}
.uiECMAdminPortlet .uiECMAdminWorkingArea {
  margin: 24px 10px 10px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .pagination {
  margin: 0px 0px 9px 0px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiPopup .control-group .controls .textarea {
  height: 150px;
  vertical-align: top;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiPopup .control-group .controls-full {
  white-space: nowrap;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiPopup .control-group .controls-full .control-label {
  white-space: normal;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiPopup .control-group .controls-full .textarea {
  height: 150px;
  vertical-align: top;
  width: 100%;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .tabActions {
  width: 240px;
  float: left;
  margin: 0px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiOneNodePathSelector .uiTreeList {
  margin-left: 250px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiOneNodePathSelector .breadcrumb {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 0 0 0 0;
  margin: 6px 0 20px;
  padding: 8px 15px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiOneNodePathSelector .control-label {
  width: 84px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .uiOneNodePathSelector .form-horizontal .controls {
  margin-left: 100px;
}
.uiECMAdminPortlet .uiECMAdminWorkingArea .anyPermission .form-horizontal {
  padding: 0px;
}
.uiECMAdminPortlet .uiNodeTypeList .pagination {
  margin: 15px 0;
}
.uiECMAdminPortlet .uiNodeTypeList .allDocument {
  margin: 15px 0;
}
.uiECMAdminPortlet .uiNodeTypeUpload .form-horizontal .controls {
  margin-left: 148px;
}
.uiECMAdminPortlet .UITagManager .uiIconRemove {
  background-position: -20px 0;
}
.uiECMAdminPortlet #UINodeTypeForm .RequiredTypeTab .form-horizontal .controls,
.uiECMAdminPortlet #UINodeTypeForm .DefaultTypeTab .form-horizontal .controls {
  margin-left: 0px;
}
.uiECMAdminPortlet .uiNamespaceForm .form-horizontal .control-group .controls-full {
  margin-left: 180px;
}
a:hover .uiIconEcmsFolksonomyManager {
  color: #2f5e92;
}
a:hover .uiIconEcmsTaxonomyManagerTrees {
  color: #2f5e92;
}
a:hover .uiIconEcmsActionManager {
  color: #2f5e92;
}
.uiIconEcmsUnLockManager {
  color: #999999;
  background-position: -60px 0px;
}
a:hover .uiIconEcmsUnLockManager {
  color: #2f5e92;
}
.uiSearchBox {
  margin: 0 0 14px 0;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}
.MultiValueContainer .multiFieldAction {
  margin-left: 4px;
}
.UITaxonomyTreeCreateChild .breadcrumb {
  border: 1px solid #e6e6e6;
  background: #f8f8f8;
  border-radius: 0px;
  margin: 0 0 16px 0;
  padding: 4px;
}
.UITaxonomyTreeCreateChild .uiTreeList {
  margin-left: 244px;
}
.uiTaxonomyTreeWizard .wizardLabel {
  padding: 0px 8px 14px;
}
.uiTaxonomyTreeWizard .UIActionTaxonomyManager .form-horizontal {
  padding-top: 0px;
}
.uiViewPermissionForm .tab_permission input {
  margin: 0px;
}
/*=========== Note type============*/
.superTypeTab .controls {
  margin: 0px;
}
/*=========== Note type============*/
.uiNodeTypeImportPopup .form-horizontal .control-label {
  display: none;
}
.uiNodeTypeExport .uiCheckbox {
  width: 12px;
  margin: auto;
  display: block;
}
.uiNodeTypeExport .form-horizontal .control-group .controls {
  margin: 10px 20px 0;
}
.uiNodeTypeExport .form-horizontal .control-group .controls .uiCheckbox {
  margin: auto;
}
.UINodeTypeSelector .control-label {
  width: auto;
}
.UINodeTypeSelector .controls {
  margin: 0px;
}
/*=========== uiPermissionForm ============*/
.permission .form-inline .checkbox {
  margin-right: 15px;
}
.permission .controls {
  margin-bottom: 10px;
}
.permission .controls input {
  margin: 0px;
}
.permission .controls .btn {
  margin-left: 10px;
}
.UIActionTaxonomyManager .uiAddActionForm {
  border-top: 1px solid #cccccc;
  max-height: 350px ;
  margin-top: 10px!important;
}
.UIActionTaxonomyManager .form-horizontal {
  margin-bottom: 15px!important;
}
.UIActionTaxonomyManager .titleBar {
  margin-top: 0;
}
.UITaxonomyTreeCreateChild .explorerTree {
  margin-bottom: 15px;
}
.UITaxonomyTreeCreateChild .uiActionBorder {
  clear: both;
}
@media (max-width: 768px) {
  .uiECMAdminPortlet .uiResizableBlock .ShowSideBar,
  .uiECMAdminPortlet .ecmAdminPanel {
    float: none;
    margin: 10px 0;
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .uiECMAdminPortlet .uiECMAdminWorkingArea {
    margin: 0;
  }
  .ShowSideBar > div {
    width: 100%!important;
  }
}
