.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/**************** variables *********************/
.uiSpaceSettingPortlet {
  padding: 10px 20px;
  /******* space application portlet *****/

  /********* UISpaceApplicationInstaller *******/

  /*=================UISpaceMember=================*/

}
.uiSpaceSettingPortlet .uiSpaceNavigationManagement .addNodeCont {
  margin: 0 0 20px;
}
.uiSpaceSettingPortlet .uiSpaceApp .addApp {
  margin-bottom: 10px;
}
.uiSpaceSettingPortlet .changeAccount {
  margin: 0 0 20px;
}
.uiSpaceSettingPortlet .changeAccount .changeAvatar {
  text-align: center;
  margin: 10px 0 0 10px;
}
.uiSpaceSettingPortlet .changeAccount .changeAvatar a {
  margin-bottom: 15px;
}
.uiSpaceSettingPortlet .uiAvatarUploadContent .avatarInfo {
  padding: 5px;
}
.uiSpaceSettingPortlet .uiAvatarUploadContent .avatarInfo a.avatarLargeWithBorder {
  margin: 5px 10px 5px 0;
}
.uiSpaceSettingPortlet .uiAvatarUploadContent .avatarInfo .form-horizontal .controls {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: none;
  margin-left: 0;
}
.uiSpaceSettingPortlet .uiSpaceApp .contentSpace {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 514px;
  height: 60px;
  margin: 10px 20px 10px 0;
}
.uiSpaceSettingPortlet .uiSpaceApp .contentSpace:hover {
  background: #f8f8f8;
  border: 1px solid #cccccc;
}
.uiSpaceSettingPortlet .uiSpaceApp .contentSpace [class^="uiIconApp"] {
  margin: 13px;
  float: left;
}
.uiSpaceSettingPortlet .uiSpaceApp .contentSpace .communityContainer {
  margin: 8px 0 0 70px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont {
  width: 218px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList {
  height: 324px;
  overflow: auto;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList a {
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 20px;
  padding: 5px 20px 5px 9px;
  white-space: nowrap;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList a:hover,
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList a:active,
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList a:focus {
  color: #2f5e92;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList .uiIconArrowRight {
  margin-right: 6px;
  top: -1px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemListCont .itemList .selectedItem a {
  color: #2f5e92;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList {
  width: 332px;
  margin-left: 10px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList .appList {
  height: 304px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList .appList .appDescription {
  width: 274px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 8px;
  margin: 10px;
  background-color: #ffffff;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList .appList .appDescription [class^="uiIconApp"] {
  margin: 13px;
  float: left;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList .appList .appDescription .appContent {
  margin: 0 0 0 65px;
  font-size: 12px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList .appList .appDescription .appContent strong:first-child {
  font-size: 13px;
}
.uiSpaceSettingPortlet .uiSpaceAppInstaller .itemDetailList .appList .appDescription:hover {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
}
.uiSpaceSettingPortlet .addInvite {
  margin: 0px 0px 10px;
  padding-top: 10px;
}
.uiSpaceSettingPortlet .addInvite .groupPermissionBox a.actionIcon {
  padding: 2px 6px 4px;
  -webkit-padding: 1px 6px 5px;
  margin: 0 0 10px;
}
.uiSpaceSettingPortlet .addInvite .btn {
  margin-top: -10px;
}
.uiSpaceSettingPortlet .addInvite .suggestions {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  background: #ffffff;
  color: #333333;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.uiSpaceSettingPortlet .addInvite .suggestions .resultItem {
  margin: 0px;
  padding: 5px 20px 5px 9px;
  position: relative;
  height: auto;
  cursor: pointer;
}
.uiSpaceSettingPortlet .addInvite .suggestions .resultItem:hover {
  background-color: #487eb8;
  background-image: -moz-linear-gradient(top, #578dc9, #3367a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#578dc9), to(#3367a0));
  background-image: -webkit-linear-gradient(top, #578dc9, #3367a0);
  background-image: -o-linear-gradient(top, #578dc9, #3367a0);
  background-image: linear-gradient(to bottom, #578dc9, #3367a0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff578dc9', endColorstr='#ff3367a0', GradientType=0);
  color: #ffffff;
}
.uiSpaceSettingPortlet .addInvite .suggestions .resultItem p {
  margin: 0;
  padding: 0;
}
