.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.uiSocApplication {
  padding: 10px;
}
.uiSocApplication .uiProfile {
  padding: 10px 10px 0;
}
.uiSocApplication .uiProfile .uiIconGreenTick:before {
  content: "\e76f";
  color: #39c522;
}
.uiSocApplication .uiProfile .uiIconGrayCircleTick:before {
  content: "\e770";
}
.uiSocApplication .uiProfile .uiIconEdit {
  margin: 0px 0 0 10px;
  line-height: 20px;
  vertical-align: baseline;
}
.uiSocApplication .uiProfile .form-horizontal .controls {
  line-height: 30px;
}
.uiSocApplication .uiHeaderSection .position {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.uiSocApplication .uiHeaderSection .position .uiIconEdit {
  margin: -3px 0 0 10px;
}
.uiSocApplication .uiHeaderSection .position .titleWithBorder:after {
  height: 14px;
}
.uiSocApplication .uiHeaderSection .position .pull-right {
  margin-left: 10px;
}
.uiSocApplication .uiHeaderSection .position .positionTitle {
  float: left;
}
.uiSocApplication .uiHeaderSection .position .positionTitle + a {
  vertical-align: middle;
}
.uiSocApplication .uiProfile .uiSocTitleBar {
  line-height: 35px;
}
.uiSocApplication .uiProfile .uiSocTitleBar .pull-right {
  margin-left: 10px;
}
.uiSocApplication .uiProfile .uiSocTitleBar .nameTitle {
  float: left;
}
.uiSocApplication .uiProfile .uiSocTitleBar .nameTitle + a {
  display: inline-block;
  line-height: 21px;
  vertical-align: middle;
}
.uiSocApplication .uiProfile .uiContactSection .form-horizontal .control-group .controls div {
  margin: 10px 0 0;
}
.uiSocApplication .uiProfile .uiContactSection .form-horizontal .control-group .controls div:first-child {
  margin-top: 0;
}
.uiSocApplication .uiProfile .uiExperienceSection .blockSeparator {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
}
.uiSocApplication .uiProfile .uiExperienceSection .currentExperience,
.uiSocApplication .uiProfile .uiExperienceSection .pastExperience {
  border: 1px solid #e6e6e6;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 0;
  margin-bottom: 10px;
}
