@import "/wiki/skin/DefaultSkin/webui/UIWikiRichTextEditor/Stylesheet.css";
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.wikiBoxDecoration {
  border: 1px solid #cccccc;
  background: #ffffff;
}
.wikiBoxDecoration h6 {
  background: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  line-height: 35px;
  font-weight: bold;
  padding: 0 15px;
  margin: 0;
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}
.uiWikiUpperArea {
  padding: 14px 25px 14px 24px;
}
/*===========Relate page==========*/
.uiRelatePages .relateContent {
  padding: 12px 12px 14px;
}
.uiRelatePages .relateContent .relateItem {
  display: block;
  padding: 4px 0;
  color: #333333;
}
.uiRelatePages .relateContent .relateItem .uiIconFileMini {
  margin: 0px 4px 0px 0px;
}
.uiRelatePages .relateContent .relateItem:hover {
  color: #2f5e92;
}
.uiRelatePages .wikiBox {
  margin-top: 15px;
}
.uiWikiPageControlArea .uiWikiPageTitle .uiInputInfo {
  font-size: 24px;
  font-weight: bold;
  color: #2f5e92;
  line-height: 30px;
  word-wrap: normal;
}
/*===========Preview page==========*/
.uiWikiMaskWorkspace {
  width: 100%;
}
.uiWikiMaskWorkspace .wikiPreviewHeader {
  background: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  padding: 6px 6px 4px 25px;
}
.uiWikiMaskWorkspace .wikiPreviewHeader .popupTitle {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}
.uiWikiMaskWorkspace .wikiPreviewHeader .actionIcon {
  position: relative;
}
.uiWikiMaskWorkspace .uiWikiPagePreview {
  background: #ffffff;
  padding: 15px 25px 25px;
  height: 1000px;
  overflow: auto;
}
.uiWikiMaskWorkspace .uiWikiPagePreview .uiWikiPageTitlePreview {
  border-bottom: 1px dotted #cccccc;
  font-size: 24px;
  font-weight: bold;
  color: #2f5e92;
  line-height: 28px;
  padding: 0 0 12px 0;
}
.uiWikiMaskWorkspace .uiWikiPagePreview .uiWikiContentDisplay {
  padding: 18px 0 0;
}
/*===============Wiki Select Page==========*/
.uiWikiSelectPageForm .uiTreeExplorer .selected {
  font-weight: bold;
}
.uiWikiSelectPageForm .uiTreeExplorer .nodeSelected {
  color: #2f5e92;
  font-weight: bold;
}
.uiWikiSelectPageForm .uiTreeExplorer .nodeSelected:hover i[class^="uiIconWiki"] {
  color: #2f5e92;
}
.uiWikiSelectPageForm .uiSpaceSwitcher_UIWikiSelectPageForm {
  cursor: pointer;
  float: left;
  position: relative;
  margin-left: 10px;
}
.uiWikiSelectPageForm .uiSpaceSwitcher_UIWikiSelectPageForm .spaceChooserPopup {
  top: 28px;
  left: 0px;
}
.uiWikiSelectPageForm .uiSpaceSwitcher_UIWikiSelectPageForm .spaceChooserPopup .uiIconWikiWiki:hover {
  color: #ffffff;
}
.uiWikiSpaceSwitcher_CreateWiki .spaceChooserPopup a:hover i,
.uiSpaceSwitcher_UIWikiSelectPageForm .spaceChooserPopup a:hover i,
.uiSpaceSwitcher_UIWikiMovePageForm .spaceChooserPopup a:hover i,
.uiSpaceSwitcher_BreadCrumb .spaceChooserPopup a:hover i {
  color: #ffffff;
}
.uiWikiSpaceSwitcher_CreateWiki .spaceChooserPopup a i,
.uiSpaceSwitcher_UIWikiSelectPageForm .spaceChooserPopup a i,
.uiSpaceSwitcher_UIWikiMovePageForm .spaceChooserPopup a i,
.uiSpaceSwitcher_BreadCrumb .spaceChooserPopup a i {
  margin-right: 4px;
}
.UIWikiPortletPreferences {
  padding: 10px 0;
  background: #ffffff;
}
.uiScrollTop {
  background: url("/eXoSkin/skin/images/themes/default/ShareImages/Background/uiScrollTop.png") repeat-x top center;
  position: absolute;
  content: "";
  z-index: 1;
  width: 100%;
  height: 15px;
  top: 0px;
}
.uiScrollBottom {
  background: url("/eXoSkin/skin/images/themes/default/ShareImages/Background/uiScrollBottom.png") repeat-x center;
  position: absolute;
  content: "";
  z-index: 1;
  width: 100%;
  height: 15px;
}
.uiWikiPermalinkForm .permalinkWapperInput .input-xxxlarge {
  width: 100%;
}
.uiWikiPermalinkForm .permalLinkShare {
  margin-bottom: 10px;
}
.box {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 0px 1px 1px #e6e6e6;
  -moz-box-shadow: 0px 1px 1px #e6e6e6;
  box-shadow: 0px 1px 1px #e6e6e6;
  padding: 7px 15px 7px 45px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.warningmessage,
.notemessage {
  background: #fff4c4;
  border: 1px solid #edad00;
  color: #333;
  position: relative;
}
.warningmessage:before,
.notemessage:before {
  font-family: "PLF-FONT-ICONS";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  color: #999999;
  font-size: 14px;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  top: 1px;
  display: block;
  left: 22px;
  top: 9px;
  position: absolute;
  color: #edad00;
  content: "\e771";
}
.tipmessage {
  background: #d7f8d5;
  border: 1px solid #39c522;
  color: #333;
  position: relative;
}
.tipmessage:before {
  font-family: "PLF-FONT-ICONS";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  color: #999999;
  font-size: 14px;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  top: 1px;
  display: block;
  left: 22px;
  top: 9px;
  position: absolute;
  content: "\e770";
  color: #39c522;
}
.infomessage {
  background: #d1ddf7;
  border: 1px solid #215ab2;
  color: #333;
  position: relative;
}
.infomessage:before {
  font-family: "PLF-FONT-ICONS";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  color: #999999;
  font-size: 14px;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  top: 1px;
  display: block;
  left: 22px;
  top: 9px;
  position: absolute;
  content: "\e767";
  color: #215ab2;
}
.errormessage {
  background: #ed9c95;
  border: 1px solid #c72222;
  color: #333;
  position: relative;
}
.errormessage:before {
  font-family: "PLF-FONT-ICONS";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  color: #999999;
  font-size: 14px;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  top: 1px;
  display: block;
  left: 22px;
  top: 9px;
  position: absolute;
  content: "\e76d";
  color: #c72222;
}
.uiWikiPageVersionsCompare .comparedForm {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.uiWikiPageVersionsCompare .comparedForm pre {
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  white-space: normal;
  padding: 18px;
  line-height: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uiWikiPageVersionsCompare .comparedForm pre > b.admin {
  color: #2f5e92;
}
.uiWikiPageVersionsCompare .comparedForm pre > span.dateChange {
  display: block;
}
.uiWikiPageVersionsCompare .comparedForm pre > span.lineRemoved {
  background-color: #ed9c95;
  text-decoration: line-through;
  color: #333;
}
.uiWikiPageVersionsCompare .comparedForm pre > span.lineAdded {
  background-color: #d7f8d5;
  color: #333;
}
.uiWikiPageVersionsCompare .comparedForm pre > a.changes {
  color: #2f5e92;
}
.comparedWith {
  font-weight: bold;
  padding: 30px 28px 0;
}
.uiWikiPageVersionsCompare .changedForm {
  margin-top: 20px;
}
.uiWikiPageVersionsCompare .changedForm > button {
  margin: 0 0 10px;
}
.uiWikiPageVersionsCompare .changedForm > .diff > .diffmodifiedline > span.diffaddword {
  background-color: #d7f8d5;
}
.uiWikiPageVersionsCompare .changedForm > .diff > .diffmodifiedline > span.diffremoveword {
  background-color: #ed9c95;
}
.uiWikiPageVersionsCompare .changedForm > .diff > .diffmodifiedline > pre {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  white-space: normal;
}
.uiWikiPageVersionsCompare .changedForm > .diff > .diffmodifiedline > pre.diffaddword {
  background-color: #d7f8d5;
}
.uiWikiPageVersionsCompare .changedForm > .diff > .diffmodifiedline > pre.diffremoveword {
  background-color: #ed9c95;
}
.uiWikiPageEditForm {
  padding-bottom: 10px;
}
.uiWikiPageEditForm .actionContainer {
  white-space: normal;
  min-height: 30px;
}
.uiWikiPageEditForm .actionContainer .uiSubmitToolBar {
  margin: 0px 0px 0px 5px;
  float: right;
}
.uiWikiPageEditForm .actionContainer .uiWikiPageEditForm_MessageArea {
  margin: 4px 0 0 0!important;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
.uiWikiPageEditForm .actionContainer .btn-toolbar {
  margin: 10px 0;
}
.uiWikiPageEditForm .actionContainer .btn-toolbar .btn-group {
  margin: 0 10px 0px 0;
}
.uiWikiPageEditForm .actionContainer .uiCheckbox {
  margin-top: 4px;
}
.uiWikiPageEditForm .actionContainer .btn-toolbar .btn-group .uiIconWikiRickText,
.uiWikiPageEditForm .actionContainer .btn-toolbar .btn-group .uiIconWatchPage,
.uiWikiPageEditForm .actionContainer .btn-toolbar .btn-group .uiIconWikiHelp {
  margin-right: 5px;
}
.uiWikiPageEditForm .uiEditUpper input {
  height: 33px;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  margin-bottom: 4px;
  font-size: 18px;
}
.uiWikiPageEditForm .uiWikiSidePanelArea {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  float: right;
  line-height: 16px;
  margin: 0 0 10px;
  padding: 0;
  width: 270px;
}
.uiWikiPageEditForm .uiWikiSidePanelArea .barTit {
  background: #f0f0f0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #333333;
  font-weight: bold;
  line-height: 33px;
  padding-left: 15px;
}
.uiWikiPageEditForm .uiWikiSidePanelArea .barTit .uiIconClose {
  margin: 9px 8px 0 0;
  text-decoration: none;
}
.uiWikiPageEditForm .uiWikiSidePanelArea .content {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  padding: 12px 8px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
}
.uiWikiPageEditForm .uiWikiSidePanelArea .content p {
  margin-bottom: 0px;
}
.uiWikiPageEditForm .uiColsLeftsEditForm {
  margin-bottom: 22px;
  margin-right: 290px;
  padding: 0;
}
.uiWikiPageEditForm .uiWikiPageContentInputContainer .commentInput {
  margin-bottom: 24px;
}
.uiWikiPageEditForm .uiWikiPageContentInputContainer textarea {
  font-size: 13px;
  height: 357px;
  overflow: auto;
  padding: 6px;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075) inset, 0px 1px 3px rgba(0, 0, 0, 0.06);
  min-height: 75px;
}
.uiWikiPageEditForm .uiWikiPageContentInputContainer textarea:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(29, 75, 159, 0.6);
}
.uiWikiPageEditForm .uiWikiPageContainer .form-horizontal .control-group .control-label {
  float: left;
  padding: 4px 0 0;
  margin-right: 10px;
  text-align: left;
  width: auto;
}
.uiWikiPageEditForm .uiWikiPageContainer .form-horizontal .control-group .controls {
  overflow: hidden;
  display: block;
  margin-left: 0;
}
.uiWikiPageEditForm .uiWikiPageContainer .form-horizontal .control-group .controls input {
  width: 100%;
}
.uiWikiPageEditForm .uiWikiPageContainer .form-horizontal .control-group .publishActivityCheckBoxTitle {
  margin-left: 10px;
}
.uiWikiPageEditForm .uiWikiPageContainer .form-horizontal .uiCheckbox {
  margin-top: 3px;
}
.uiWikiPageEditForm .uiWikiTemplateDescriptionContainer {
  margin-top: 10px;
}
.uiWikiPageEditForm .uiWikiTemplateDescriptionContainer input {
  margin: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  height: 28px;
}
.EditSection [class^="wikimodel-freestanding"] {
  background-position: -40px 0px;
  margin-top: 12px;
  font-family: "PLF-FONT-ICONS";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  color: #999999;
  font-size: 14px;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  top: 1px;
}
.EditSection [class^="wikimodel-freestanding"]:before {
  content: "\e791";
}
.EditSection [class^="wikimodel-freestanding"]:hover {
  color: #2f5e92;
}
.uiWikiPageContentArea span.EditSection {
  display: none;
}
.uiWikiPageContentArea .section-container .EditSectionHover {
  background-color: #f8f8f8;
  margin: 0 -15px;
  padding-left: 15px;
  padding-right: 15px;
}
.uiWikiPageContentArea .section-container {
  padding-top: 5px;
  padding-bottom: 5px;
}
.uiWikiPageInfo .uiPageInfoItem {
  margin: 0px 0px 20px 0px;
}
.uiWikiPageInfo .uiPageInfoItem h6.pageInfoTitle {
  background: #f0f0f0;
  border: 1px solid #cccccc;
  border-bottom: none;
  line-height: 35px;
  font-weight: bold;
  padding: 0 15px;
  margin: 0;
}
.uiWikiPageInfo .uiPageInfoItem .pageInfoItemBody {
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
}
.uiWikiPageInfo .uiPageInfoItem .uiGrid {
  margin: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.uiWikiPageInfo .uiPageInfoItem .name {
  color: #2f5e92;
}
.uiWikiPageInfo .uiPageInfoItem .uiAction,
.uiWikiPageInfo .uiPageInfoItem .actionCenter {
  border-top: 1px solid #cccccc;
  background: #ffffff;
  text-align: center;
  padding: 10px;
}
.uiWikiPageInfo .uiPageInfoChanges table th,
.uiWikiPageInfo .uiPageInfoChanges table td {
  border-left: none;
  border-right: 1px solid #cccccc;
}
.uiPageToolBar .uiDropdownWithIcon {
  margin-top: 5px;
}
.popupContenRelated {
  border: solid 1px #cccccc;
  background: #f8f8f8;
  margin: 15px 0 0;
}
.uiWikiAdvanceSearchResult > .resultInfo {
  border-bottom: 1px dotted #cccccc;
  padding: 17px 0;
}
.uiWikiAdvanceSearchResult > .resultInfo > .resultNumber {
  font-size: 30px;
  font-weight: bold;
  color: #2f5e92;
}
.uiWikiAdvanceSearchResult > .resultInfo > .split {
  border-left: 1px solid #cccccc;
  display: inline-block;
  height: 27px;
  margin: 0 15px;
  vertical-align: middle;
}
.uiWikiAdvanceSearchResult > .resultInfo > .btn-group > .btn {
  padding: 4px 7px;
}
.uiWikiAdvanceSearchResult > .resultInfo > .btn-group > .dropdown-menu {
  min-width: 46px;
}
.uiWikiAdvanceSearchResult > .resultInfo > .btn-group > .dropdown-menu > li > a {
  padding: 5px 15px;
}
.uiWikiAdvanceSearchResult > .noResult {
  border-bottom: none;
}
.uiWikiAdvanceSearchResult h6 > a {
  color: #2f5e92;
}
.uiWikiAdvanceSearchResult a.txtMark,
.uiWikiAdvanceSearchResult span.txtMark {
  color: #999999;
  font-size: 12px;
  font-weight: normal;
}
.uiWikiAdvanceSearchForm {
  background: #f0f0f0;
  margin: -20px -20px 20px -20px;
  padding: 20px;
  border-radius: 4px 4px 0 0;
}
.uiWikiAdvanceSearchForm form input {
  width: 370px;
}
.uiWikiAdvanceSearchForm form button {
  vertical-align: top;
  margin-left: 5px;
}
.uiWikiAdvanceSearchForm form .wikis {
  position: relative;
}
.uiWikiAdvanceSearchForm form .spaceChooserPopup {
  z-index: 10;
}
.UIWikiSearchSpaceArea {
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: #ffffff;
}
.uiWikiMovePageForm h6 {
  margin-top: 0px;
}
.uiWikiMovePageForm label {
  font-size: 13px;
  font-weight: bold;
}
.uiWikiMovePageForm .selectSpaceForm label {
  width: 152px;
  padding-top: 2px;
}
.uiWikiMovePageForm .selectSpaceForm .btn-group > .btn:first-child {
  width: 358px;
  text-align: left;
}
.uiWikiMovePageForm .sideBarContent .barContent {
  margin: 10px 0;
  font-weight: bold;
}
.uiWikiMovePageForm .sideBarContent .sideContent {
  border: 1px solid #e6e6e6;
  background: #f8f8f8;
  height: 270px;
  overflow: auto;
}
.uiWikiMovePageForm .uiWikiLocationContainer {
  margin: 10px 0 0;
}
.uiWikiMovePageForm .uiWikiLocationContainer label {
  width: 122px;
  padding-top: 4px;
}
[class^="uiIconWiki"],
.LeftNavigationTDContainer .uiPopup [class^="uiIconWiki"] {
  color: #999999;
}
/* Blue icons with optional class, or on hover/active states of certain elements */
.actionIcon:hover > i > [class^="uiIconWiki"],
.uiActionWithLabel:hover > i > [class^="uiIconWiki"],
.nav-pills > .active > a > [class^="uiIconWiki"],
.nav-list > .active > a > [class^="uiIconWiki"],
.navbar-inverse .nav > .active > a > [class^="uiIconWiki"],
.dropdown-menu > li > a:hover > [class^="uiIconWiki"],
.dropdown-menu > .active > a > [class^="uiIconWiki"],
.nodeSelected:hover [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconWiki"],
.btn:hover [class^="uiIconWiki"],
a:hover [class^="uiIconWiki"],
[class^="uiIconWiki"]:hover,
.uiIconWikiBlue {
  color: #2f5e92;
}
/* light grey icons with optional class, or on  */
.dropdown-menu > li > a > [class^="uiIconWiki"],
.dropdown-menu > .active > a > [class^="uiIconWiki"],
.breadcrumb [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-submenu > a > [class^="uiIconWiki"],
.uiDropDownCal li a [class^="uiIconWiki"] {
  color: #999999;
}
.uiIconWikiDarkGray,
.uiIconWikiExtra,
.LeftNavigationTDContainer [class^="uiIconWiki"] {
  color: #626262;
}
/* White icons with optional class, or on hover/active states of Drop down with Icons */
.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .nav-list > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconWiki"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconWiki"],
.btn-primary [class^="uiIconWiki"],
.btn-primary:hover [class^="uiIconWiki"],
.uiDropDownCal a:hover [class^="uiIconWiki"],
.uiDropDownCal .active a:hover [class^="uiIconWiki"],
.eventAllDay [class^="uiIconWiki"],
.eventDayContainer [class^="uiIconWiki"],
.uiIconWikiWhite {
  color: #ffffff;
}
.uiCompanyNavigationPortlet .uiIconWiki {
  top: 2px;
}
.uiIconWikiRestrictedFile:before {
  content: "\e6b2";
}
.uiWikiPageContentArea .uiWikiContentDisplay {
  padding: 10px 0;
  word-wrap: break-word;
}
.uiWikiPageContentArea .uiWikiContentDisplay .header-container {
  position: relative;
}
.uiWikiPageContentArea .uiWikiContentDisplay .EditSectionHover span.EditSection {
  visibility: visible;
}
.uiWikiPageContentArea .uiWikiContentDisplay span.EditSection {
  visibility: hidden;
  width: 18px;
  height: 18px;
  float: right;
  margin: 5px 5px 0 0;
  display: block!important;
}
.uiWikiPageContentArea .uiWikiContentDisplay span.EditSection a {
  position: absolute;
  right: 0px;
  z-index: 1031;
  display: block;
  background: none;
  line-height: 24px;
  text-decoration: none;
  font-size: 12px;
  outline: none!important;
  margin: 0px 12px 0 0;
  width: 18px;
  height: 18px;
}
.uiWikiPageContentArea .section-container {
  padding: 2px 0px;
  overflow: auto;
}
.uiWikiPageContentArea .EditSectionHover {
  background-color: #f8f8f8;
}
.uiWikiContentDisplay ul,
.uiWikiPagePreview ul {
  margin: 10px 18px;
  padding: 0;
}
.uiWikiContentDisplay ul li,
.uiWikiPagePreview ul li {
  list-style: disc outside none;
}
.uiWikiContentDisplay ul li a,
.uiWikiPagePreview ul li a {
  text-decoration: none;
}
.uiWikiContentDisplay ol,
.uiWikiPagePreview ol {
  margin: 10px 18px;
  padding: 0;
}
.uiWikiContentDisplay ol li,
.uiWikiPagePreview ol li {
  list-style: decimal outside none;
}
.uiWikiContentDisplay hr,
.uiWikiPagePreview hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
.uiWikiContentDisplay dt,
.uiWikiPagePreview dt {
  font-weight: bold;
}
.uiWikiContentDisplay dd,
.uiWikiPagePreview dd {
  background: url("/eXoSkin/skin/images/themes/default/wiki/Icons/bullet-3.png") no-repeat scroll 0 0.3em transparent;
  font-style: italic;
  margin-left: 0;
  padding-left: 1em;
}
.uiWikiContentDisplay blockquote,
.uiWikiPagePreview blockquote {
  background: #f8f8f8;
  border-left: 2px solid #cccccc;
  display: block;
  margin: 0.3ex 1em;
  padding: 0.3ex 1em;
  quotes: none;
}
.uiWikiContentDisplay table,
.uiWikiPagePreview table {
  border: 1px solid #cccccc;
  border-right: none;
  border-top: none;
  table-layout: fixed;
  width: auto;
}
.uiWikiContentDisplay th,
.uiWikiPagePreview th {
  background: #f0f0f0;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding: 5px;
  text-align: center;
}
.uiWikiContentDisplay td,
.uiWikiPagePreview td {
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding: 5px;
}
.UIWikiToolBar {
  float: right;
  width: 100px;
}
.uiWikiSearchBox.pull-right > .dropdown-menu {
  right: auto;
}
/************ WikiBox ****************/
.wikiBox {
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}
.wikiBox .titleWikiBox {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.08);
  -moz-box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.08);
  box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.08);
  background: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  margin: 0px;
  line-height: 20px;
  font-weight: bold;
  color: #333333;
  padding: 8px 10px;
  word-wrap: break-word;
}
/***** WikiLayout *******/
.wikiBox h6.titleWikiBox a {
  color: #333333;
}
.wikiLayout {
  margin: 0;
  position: relative;
  padding: 0px 21px;
}
.uiLeftContainerArea {
  width: 273px;
  padding: 4px 0 4px 4px;
  float: left;
  overflow: auto;
}
.uiLeftContainerArea .wikiBox h6.titleWikiBox a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uiRightContainerArea {
  padding: 4px;
  float: left;
  overflow: auto;
}
.uiWikiMiddleArea .UIWikiNavigationContainer {
  padding: 8px 2px 0 2px;
  visibility: '';
  overflow: visible;
}
.uiWikiMiddleArea .uiWikiPageEditForm .uiWikiPageContainer {
  margin-top: 10px;
}
.uiWikiMiddleArea .uiWikiPageContainer {
  margin: 0;
  overflow: visible;
}
.uiWikiMiddleArea .uiWikiPageContainer .UIWikiPageArea {
  padding: 0px;
}
.uiWikiMiddleArea .uiWikiPageContainer .form-horizontal .control-group {
  margin-bottom: 0px;
}
.uiWikiMiddleArea #UISubmitToolBarBottom {
  margin-top: 20px;
}
* + html .uiWikiMiddleArea .uiWikiPageContainer {
  position: static;
}
/* uiWikiPageContentArea */
.uiWikiPageContentArea {
  padding: 0px 15px;
}
.UIAttachmentContainer {
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  padding: 15px;
}
.UIAttachmentContainer .titleWikiBox {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.08);
  -moz-box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.08);
  box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.08);
  background: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  margin: 0px;
  line-height: 20px;
  font-weight: bold;
  color: #333333;
  padding: 8px 10px;
  word-wrap: break-word;
}
.UIAttachmentContainer h6.titleWikiBox a {
  color: #333333;
}
.fileHidden {
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  z-index: 2;
  outline: none;
}
.uploadInput {
  position: relative;
}
.uploadInput .btn-primary {
  position: absolute;
  z-index: 1;
  left: 0;
}
.uiWikiBottomArea {
  padding-top: 15px;
}
.uiWikiBottomArea .uiWikiPageVersionsList {
  padding: 15px;
}
.uiWikiBottomArea .historyLabel {
  font-size: 13px;
}
/* -- Begin Resize CSS function -- */
.uiWikiMiddleArea .resizeBar {
  float: left;
  width: 26px;
  margin-top: 5px;
}
.uiWikiMiddleArea .resizeBar .resizeBarContent {
  width: 15px;
  cursor: col-resize;
  position: relative;
  margin-left: 5px;
}
.uiWikiMiddleArea .resizeBar .resizeBarContent:hover {
  border-right: solid 1px #cccccc;
}
.uiWikiMiddleArea .resizeBar .resizeBarContent:hover .resizeButton {
  display: block;
}
.uiWikiMiddleArea .resizeBar .resizeButton {
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  width: 14px;
  height: 24px;
  float: right;
  margin: auto;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-right: none;
  display: none;
  margin-top: 7px;
  padding-top: 2px;
}
.uiWikiMiddleArea .resizeBar .resizeButton [class^="uiIcon"] {
  margin: 2px 0px 0px 2px;
  width: 10px;
}
.uiWikiMiddleArea .resizeBar .resizeButton:hover .uiIconMiniArrowLeft {
  color: #2f5e92;
}
.uiWikiMiddleArea .resizeBar .resizeButton:hover .uiIconMiniArrowRight {
  color: #2f5e92;
}
.uiWikiMiddleArea .resizeBar .showLeftContent {
  display: block;
  border: 1px solid #cccccc;
  border-left: none;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  float: left;
}
.uiWikiMiddleArea .resizeBarDisplay .resizeBarContent {
  border-right: solid 1px #cccccc;
}
.uiWikiMiddleArea .resizeBarDisplay .resizeButton {
  display: block;
}
.uiWikiMiddleArea .resizeNoneBorder {
  width: 20px;
}
.uiWikiMiddleArea .resizeNoneBorder .resizeBarContent {
  margin-left: 0;
}
.uiWikiMiddleArea .resizeNoneBorder:hover {
  cursor: default;
}
.uiWikiMiddleArea .resizeNoneBorder .resizeBarContent:hover {
  border: none;
  cursor: default;
}
.nonePaddingLeft {
  padding-left: 0px;
}
.uiWikiPortletNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* -- End Resize CSS function -- */
/*****UIWikiPermissionOwner*********/
.groupPermissionBox {
  margin: 0 5px;
}
.groupPermissionBox .actionIcon {
  margin: 0;
}
/*******uiWikiPageControlArea************/
.uiWikiPageControlArea {
  border-bottom: 1px dotted #cccccc;
  padding: 15px 0;
}
.uiWikiPageControlArea .uiWikiPageInfoArea {
  clear: both;
}
.uiWikiPageControlArea .uiWikiPageInfoArea .txtFeed {
  color: #999999;
}
.uiWikiPageControlArea .uiWikiPageTitle {
  padding-top: 3px;
  overflow: hidden;
  margin-bottom: 10px;
}
.uiWikiPageControlArea .uiPageToolBar {
  margin-left: 20px;
}
/*******compareSelect************/
.compareSelect {
  margin: 10px 0;
}
/*******Breadcrumbs************/
.uiWikiBreadCrumb {
  padding-top: 3px;
}
/*uiWikiDraftGrid*/
.uiWikiMyDraftsForm {
  padding: 0 15px;
}
.uiWikiMyDraftsForm .introduce {
  margin: 0 0 15px 0;
}
.uiWikiMyDraftsForm .uiWikiDraftGrid th .uiIconArrowDown,
.uiWikiMyDraftsForm .uiWikiDraftGrid .uiIconArrowUp {
  margin: 3px -6px 0 0;
}
/*uiPermissionGrid*/
.uiWikiPermissionOwner .fieldInput input[type=text] {
  margin-top: 8px;
}
/******* templateControl ************/
.templateControl {
  padding-bottom: 10px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent {
  padding: 0 0 20px 0;
}
.uiWikiDeletePageConfirm .WikiDeleteContent ul {
  margin: 0 0 0 75px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent li {
  list-style-type: inherit;
  margin-bottom: 7px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent .uiIconQuestion {
  margin-right: 14px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent h6 {
  margin-left: 30px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent .node {
  margin-left: 30px;
  font-style: italic;
}
.uiWikiDeletePageConfirm .WikiDeleteContent .uiWikiBreadCrumb {
  display: inline-block;
  vertical-align: top;
  padding-top: 0px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent .uiWikiBreadCrumb .breadcrumb {
  margin-left: 12px;
}
.uiWikiDeletePageConfirm .WikiDeleteContent .uiWikiBreadCrumb .breadcrumb .active a {
  font-weight: normal;
  color: #333333;
}
.confirmMessage {
  padding: 10px 0 60px 10px;
}
.confirmMessage .uiIconQuestion {
  margin-right: 10px;
}
.uiWikiHistorySpaceArea {
  padding: 8px 15px 15px;
}
/******* wiki space-switcher ************/
.uiWikiPortlet .uiSpaceSwitcher_BreadCrumb {
  float: left;
  margin-top: -4px;
  position: relative;
  z-index: 2;
}
.uiWikiPortlet .uiSpaceSwitcher_BreadCrumb:hover {
  color: #000000;
  cursor: pointer;
}
.uiWikiPortlet .uiSpaceSwitcher_UIWikiMovePageForm {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  position: relative;
}
.uiWikiPortlet .uiSpaceSwitcher_UIWikiMovePageForm .spaceChooser .btn span:first-child,
.uiWikiPortlet .uiSpaceSwitcher_UIWikiSelectPageForm .spaceChooser .btn span:first-child {
  display: block;
  float: left;
  text-align: left;
  width: 341px;
}
.uiWikiPortlet .uiWikiMovePageForm .labelForm,
.uiWikiPortlet .uiWikiSelectPageForm .labelForm {
  font-weight: bold;
  padding: 4px 0px;
}
.uiWikiPortlet .uiWikiMovePageForm .uiInputInfo,
.uiWikiPortlet .uiWikiSelectPageForm .uiInputInfo {
  font-weight: bold;
  padding: 4px 0px 10px;
}
.uiWikiPortlet .UISelectPageForm .SpaceSwitcher {
  padding: 15px 15px 0px 15px;
}
.uiWikiSpaceSwitcher_CreateWiki {
  position: relative;
}
.uiWikiPageVersionsCompare .comparedForm {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 12px;
}
.uiWikiPageVersionsCompare .comparedForm .changeVersionForm {
  padding: 12px;
  background: #f0f0f0;
  float: left;
}
.uiWikiPageVersionsCompare .comparedForm .changeVersionForm .changeVersionInfo {
  font-weight: bold;
}
.uiWikiPageVersionsCompare .comparedForm .changeVersionForm .admin {
  font-weight: bold;
  color: #2f5e92;
}
.uiWikiPageVersionsCompare .comparedForm .changeVersionForm .changes {
  border-top: 1px solid #ffffff;
  color: #2f5e92;
  cursor: pointer;
  line-height: 17px;
}
.uiWikiPageVersionsCompare .comparedForm .changeVersionForm .dateChange {
  line-height: 20px;
}
.uiWikiPageVersionsCompare .comparedWith {
  float: left;
  padding: 30px 12px 0px 12px;
  font-weight: bold;
}
.diff {
  margin-bottom: -5px;
  overflow: auto;
  padding: 3px 4px;
  white-space: normal;
}
.diffaddword {
  background: #b5ffbf;
  color: #333;
}
.diffremoveword {
  background: #ffd8da;
  text-decoration: line-through;
  color: #333;
}
.prediffaddword {
  background: #b5ffbf;
  color: #333;
  margin: 0;
}
.prediffremoveword {
  background: #ffd8da;
  color: #333;
  margin: 0;
}
/*====== page not found =========*/
.uiWikiPageNotFound {
  margin: auto;
  padding-top: 25px;
  width: 614px;
}
.uiWikiPageNotFound .errorBlock {
  background: url("/eXoSkin/skin/images/themes/default/wiki/warningIcon.png") no-repeat center top;
  display: block;
  height: 160px;
  margin: 0 auto;
  text-align: center;
  width: 160px;
}
.uiWikiPageNotFound p {
  margin: 0;
}
.uiWikiPageNotFound .uiIconFileMini {
  margin-left: -3px;
}
.uiWikiPageNotFound h3 {
  color: #999999;
  text-align: center;
}
.uiWikiPageNotFound .titleWarning {
  color: #999999;
  font-size: 18px;
  margin: 3px 0 17px;
  text-align: center;
}
.uiWikiPageNotFound .pageContent {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 20px 26px;
}
.macro-output span.box,
.uiWikiPagePreview span.box,
.uiWikiContentDisplay span.box {
  display: block;
}
.macro-output .readOnly,
.uiWikiPagePreview .readOnly,
.uiWikiContentDisplay .readOnly {
  display: block;
}
@media (max-width: 768px) {
  #UIWikiMiddleArea {
    height: auto !important;
    overflow: visible !important;
  }
  #UIWikiMiddleArea #UITreeExplorer {
    height: auto !important;
    max-height: 300px!important;
    min-height: 200px;
  }
  body .uiWikiMiddleArea .resizeBar {
    display: none!important;
  }
  .uiLeftContainerArea,
  .uiRightContainerArea {
    float: none !important;
    height: auto !important;
    margin: 10px 0;
    width: 100% !important;
    min-height: 200px;
  }
  .uiWikiPageControlArea .uiPageToolBar {
    float: none;
    margin: 0;
  }
  .uiWikiPageControlArea .uiWikiPageTitle {
    clear: both;
  }
  .UIWikiToolBar {
    float: none;
    width: auto;
  }
  .uiWikiBreadCrumb {
    clear: both;
    margin-top: 20px;
  }
  .uiWikiSearchBox.uiSearchInput input[type="text"] {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  #UIWikiUpperArea > .uiGrayLightBox > .uiSearchInput {
    width: 65%;
    z-index: 2;
  }
}
