.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.uiInvitations ul li {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.uiInvitations ul li.peopleList + .spaceList {
  padding-top: 15px;
  border-top: 1px solid #cccccc;
}
.uiInvitations .peopleInvitePosition,
.uiInvitations .spacevisibility,
.uiInvitations .name,
.uiInvitations .spaceInviteName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
  width: 95%;
}
.uiInvitations .name,
.uiInvitations .spaceInviteName {
  font-weight: bold;
  color: #2f5e92;
}
.uiInvitations .peopleInvitePicture,
.uiInvitations .spaceInvitePicture {
  margin-left: 15px;
  padding-top: 2px;
}
.uiInvitations .inviteAction,
.uiInvitations .spaceproperties {
  min-height: 22px;
}
.uiInvitations .peopleInviteAction,
.uiInvitations .spaceInviteAction {
  white-space: nowrap;
  font-size: 10px;
  display: none;
  float: right;
  background: none;
  background-color: transparent;
}
.uiInvitations .peopleInviteAction.active,
.uiInvitations .spaceInviteAction.active {
  display: block;
}
.uiInvitations .peopleInviteAction .deny .uiIconClose,
.uiInvitations .spaceInviteAction .deny .uiIconClose {
  margin-left: 5px;
  right: 4px;
}
.uiInvitations .actionInviteAppears,
.uiInvitations .actionSpaceAppears {
  width: auto;
}
.uiInvitations .peopleInviteInfo,
.uiInvitations .spaceInviteInfo {
  margin-left: 65px;
  position: relative;
}
.uiInvitations .spacePrivacy {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
}
