.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.uiSuggestions .peopleList ul li {
  margin-bottom: 15px;
  margin-top: 15px;
}
.uiSuggestions .peopleList .peoplePosition,
.uiSuggestions .peopleList .peopleConnection,
.uiSuggestions .peopleList .peopleName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
  width: 95%;
}
.uiSuggestions .peopleList .peopleName {
  font-weight: bold;
}
.uiSuggestions .peopleList .peopleContainer {
  min-height: 22px;
}
.uiSuggestions .peopleList .peopleAction,
.uiSuggestions .peopleList .spaceAction {
  white-space: nowrap;
  font-size: 10px;
  display: none;
  float: right;
  background-color: #ffffff;
}
.uiSuggestions .peopleList .peopleAction.active,
.uiSuggestions .peopleList .spaceAction.active {
  display: block;
}
.uiSuggestions .peopleList .ignore > i {
  right: 2px;
}
.uiSuggestions .peopleList .peopleInfo {
  margin-left: 65px;
  position: relative;
}
.uiSuggestions .peopleList .peoplePicture {
  padding-top: 2px;
  margin-left: 15px;
}
.uiSuggestions .peopleList .actionAppears {
  width: auto;
}
.uiSuggestions #emptyMessage {
  padding: 5px;
  font-weight: bold;
}
.uiSuggestions .spaceList {
  border-top: solid 1px #cccccc;
}
.uiSuggestions .spaceList ul li {
  margin-bottom: 15px;
  margin-top: 15px;
}
.uiSuggestions .spaceList .spaceHeader {
  font-weight: bold;
  margin-bottom: 12px;
  padding-top: 5px;
}
.uiSuggestions .spaceList .spaceAction {
  white-space: nowrap;
  font-size: 10px;
  float: right;
  background-color: #ffffff;
  display: none;
  margin-right: 2px;
}
.uiSuggestions .spaceList .spaceAction.active {
  display: block;
}
.uiSuggestions .spaceList .spaceInfo {
  margin-left: 65px;
  position: relative;
}
.uiSuggestions .spaceList .spacePicture {
  padding-top: 2px;
  margin-left: 15px;
}
.uiSuggestions .spaceList .spacePrivacy,
.uiSuggestions .spaceList .spaceCommon,
.uiSuggestions .spaceList .spaceName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
  width: 95%;
}
.uiSuggestions .spaceList .spaceName {
  font-weight: bold;
  color: #2f5e92;
}
.uiSuggestions .spaceList .actionspaceAppears {
  width: auto;
}
.uiSuggestions .ignore {
  margin-left: 4px;
  margin-right: 4px;
}
