.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/******* space access page ******/
.uiSpaceAccessPortlet {
  padding-top: 60px;
  background: #ffffff url('/eXoSkin/skin/images/themes/default/ShareImages/Background/texture.png') repeat top center;
}
.uiSpaceAccessPortlet .spaceAccessBlock {
  width: 685px;
  padding-top: 160px;
  margin: 0 auto;
  text-align: center;
}
.uiSpaceAccessPortlet .spaceAccessBlock h3 {
  color: #808080;
}
.uiSpaceAccessPortlet .spaceAccessBlock .spaceAccessInfo {
  font-size: 18px;
  padding: 10px 0 25px;
  color: #808080;
}
.uiSpaceAccessPortlet .alert-success {
  width: 330px;
  margin: 0 auto;
}
.uiSpaceAccessPortlet .lockIcon {
  background: url('/eXoSkin/skin/images/themes/default/social/skin/RestrictedArea/lockIcon.png') no-repeat top center;
}
.uiSpaceAccessPortlet .denyIcon {
  background: url('/eXoSkin/skin/images/themes/default/social/skin/RestrictedArea/denyIcon.png') no-repeat top center;
}
.uiSpaceAccessPortlet .warningIcon {
  background: url('/eXoSkin/skin/images/themes/default/social/skin/RestrictedArea/warningIcon.png') no-repeat top center;
}
