.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
[class^="uiIconPLF"],
.LeftNavigationTDContainer .uiPopup [class^="uiIconPLF"] {
  color: #999999;
}
.uiDropdownWithIcon .dropdown-menu > li > a > [class^="uiIconPLF"] {
  color: #999999;
}
/* Blue icons with optional class, or on hover/active states of certain elements */
a:hover [class^="uiIconPLF"],
[class^="uiIconPLF"]:hover,
.uiIconPLFBlue {
  color: #2f5e92;
}
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconPLF"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconPLF"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconPLF"],
.uiIconPLFWhite {
  color: #ffffff;
}
/* light grey icons with optional class, or on  */
.uiIconPLFLightGray {
  color: #999999;
}
.uiIconPLFDarkGray,
.uiIconPLFExtra,
.LeftNavigationTDContainer [class^="uiIconPLF"] {
  color: #626262;
}
.UIToolbarContainer [class^="uiIconPLF24x24"] {
  color: #ffffff;
}
.UIToolbarContainer a:hover [class^="uiIconPLF24x24"],
.UIToolbarContainer [class^="uiIconPLF24x24"]:hover {
  color: #ffffff;
}
.UIToolbarContainer.UIToolbarContainerLight [class^="uiIconPLF24x24"],
.UIToolbarContainer.UIToolbarContainerLight a:hover [class^="uiIconPLF24x24"],
.UIToolbarContainer.UIToolbarContainerLight [class^="uiIconPLF24x24"]:hover {
  color: #626262;
}
[class^="uiIconPLF24x24"] {
  vertical-align: middle;
}
.uiIconPLF24x24Setting:before,
.uiIconPLF24x24Setup:before {
  content: "\e78b";
}
.uiIconPLF24x24Add:before {
  content: "\e739";
}
.uiIconPLF24x24Search:before {
  content: "\e74a";
}
.uiIconPLF24x24Help:before {
  content: "\e76b";
}
.uiIconPLF24x24Bell:before {
  content: "\e73a";
}
[class^="uiIconPLF24x24"] {
  font-size: 22px;
}
.uiIconPLFMyConnection:before {
  content: "\e6c0";
}
.uiIconPLFBlog:before {
  content: "\e678";
}
.uiIconPLFCalendar:before {
  content: "\e68c";
}
.uiIconPLFDocuments:before {
  content: "\e68e";
}
.uiIconPLFTaskNeeds-action:before {
  content: "\e76f";
}
.uiIconPLFDiscussion:before {
  content: "\e68d";
}
.uiIconPLFAnswers:before {
  content: "\e68b";
}
.uiIconPLFNotifications:before {
  content: "\e73a";
}
.uiIconPLF24x24Add:before {
  content: "\e739";
}
.uiIconPLF24x24Edit:before {
  content: "\e73b";
}
.uiIconPLFMenu:before {
  content: "\e73c";
}
.UIToolbarContainer {
  position: relative;
}
.UIToolbarContainer .UserInfoPortletTDContainer,
.UIToolbarContainer .UIHelpPlatformToolbarPortletTDContainer,
.UIToolbarContainer .SearchPortletTDContainer,
.UIToolbarContainer .UICreatePlatformToolBarPortletIDTDContainer,
.UIToolbarContainer .UISetupPlatformToolBarPortletIDTDContainer,
.UIToolbarContainer .NotificationPopoverPortletTDContainer,
.UIToolbarContainer .AdminToolBarPortletTDContainer,
.UIToolbarContainer .middle-topNavigation-containerTDContainer,
.UIToolbarContainer .right-topNavigation-containerTDContainer {
  float: right !important;
}
.UIToolbarContainer .uiCreate {
  min-width: 240px;
}
.UIToolbarContainer .uiCreate .uiAction {
  padding: 10px 0 5px 0;
  text-align: center;
}
.UIToolbarContainer .uiCreate .uiAction .btn {
  margin: 0 3px;
  min-width: 40px;
}
.UIToolbarContainer .uiCreate .uiFormInput {
  margin-bottom: 15px;
  padding: 0 10px;
}
.UIToolbarContainer .uiCreate .uiFormInput .createName {
  margin-bottom: 10px;
}
.UIToolbarContainer .uiCreate .uiFormInput table label {
  white-space: nowrap;
  display: inline;
}
.UIToolbarContainer .uiCreate .uiFormInput .btn-group {
  font-size: 13px;
}
.UIToolbarContainer .uiCreate .uiFormInput .btn-group li > a.selected {
  background-color: #487eb8;
  background-image: -moz-linear-gradient(top, #578dc9, #3367a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#578dc9), to(#3367a0));
  background-image: -webkit-linear-gradient(top, #578dc9, #3367a0);
  background-image: -o-linear-gradient(top, #578dc9, #3367a0);
  background-image: linear-gradient(to bottom, #578dc9, #3367a0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff578dc9', endColorstr='#ff3367a0', GradientType=0);
  color: #ffffff;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiFormScrollMenu {
  margin-left: 5px;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiFormScrollMenu div > span:first-child {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 111px;
  vertical-align: middle;
  text-align: left;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiFormScrollMenu .scroll-menu .dropdown-menu {
  width: 170px;
  max-height: 362px;
  overflow: auto;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiFormScrollMenu .scroll-menu .dropdown-menu li a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter {
  margin-left: 5px;
  margin-top: 5px;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .titleForum {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 111px;
  vertical-align: middle;
  text-align: left;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .filterMenu > ul {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 440px;
  /* 13x23+3 */

}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .filterMenu .dropdown-menu {
  width: 250px;
  position: absolute;
  top: auto;
  left: auto;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .filterMenu .filterInput {
  margin: 10px;
  width: 91%;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .filterMenu .category {
  background: #f8f8f8;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  -webkit-box-shadow: 0 -15px 17px #f0f0f0 inset;
  -moz-box-shadow: 0 -15px 17px #f0f0f0 inset;
  box-shadow: 0 -15px 17px #f0f0f0 inset;
  color: #333333;
  font-weight: bold;
  padding: 5px 10px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .filterMenu .forum li a {
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: block;
}
.UIToolbarContainer .uiCreate .uiFormInput .uiForumFilter .filterMenu .forum li a:hover {
  color: #ffffff;
}
.UIToolbarContainer .NormalContainerBlock .ToolbarContainer {
  background: none;
  height: 41px;
  border: none;
}
.UIToolbarContainer .NormalContainerBlock .ToolbarContainer .TRContainer {
  height: 41px;
}
.UIToolbarContainer .uiDropdownWithIcon {
  background: none;
  padding-left: 2px;
}
.UIToolbarContainer .uiDropdownWithIcon .uiDropdownWithIcon {
  background: none;
}
.UIToolbarContainer .uiDropdownWithIcon > a {
  padding: 0 10px 0 11px;
  line-height: 41px;
  height: 41px;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
}
.UIToolbarContainer .uiDropdownWithIcon > a > i.uiIconPLF24x24Edit,
.UIToolbarContainer .uiDropdownWithIcon > a > i.uiIconPLF24x24Setup {
  margin-right: 5px;
}
.UIToolbarContainer .uiDropdownWithIcon > a:hover,
.UIToolbarContainer .uiDropdownWithIcon .uiDropdownWithIcon.open > a {
  background: none;
}
.UIToolbarContainer .uiDropdownWithIcon > .dropdown-menu {
  margin-top: 8px;
}
.UIToolbarContainer .uiDropdownWithIcon.pull-left > .dropdown-menu {
  margin-top: 8px;
}
.UIToolbarContainer .uiDropdownWithIcon.pull-left > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: #cccccc;
  position: absolute;
  top: -8px;
  left: 9px;
}
.UIToolbarContainer .uiDropdownWithIcon.pull-left > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.UIToolbarContainer .uiDropdownWithIcon.pull-right > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: #cccccc;
  position: absolute;
  top: -8px;
  right: 10px;
}
.UIToolbarContainer .uiDropdownWithIcon.pull-right > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  position: absolute;
  top: -6px;
  right: 10px;
}
.UIToolbarContainer .uiSearchPlatformToolBarPortlet {
  outline: none!important;
}
.UIToolbarContainer .uiSearchPlatformToolBarPortlet > input[type=text] {
  margin: -2px 0 0 12px;
  padding-right: 30px;
}
.UIToolbarContainer .uiSearchPlatformToolBarPortlet > input[type=text].loadding + a {
  position: relative;
}
.UIToolbarContainer .uiSearchPlatformToolBarPortlet > input[type=text].loadding + a:after {
  display: block;
  background-image: url("/eXoSkin/skin/images/themes/default/Loading/loading24x24Light.png");
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  position: absolute;
  width: 24px;
  height: 24px;
  left: -30px;
  top: 9px;
  content: "";
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiCreateForm {
  min-width: 200px;
  padding: 0 10px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiCreateForm .form-horizontal {
  padding-top: 5px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiCreateForm .control-label {
  width: auto;
  padding-top: 6px;
  float: left;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiCreateForm .controls {
  margin-left: 90px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiCreateForm .uiAction {
  margin: 0 -10px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .quickAddEventContainer {
  padding: 0 10px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .control-label {
  width: 105px;
  text-align: left;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .controls {
  margin-left: 108px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .title input[type="text"] {
  width: 184px;
  max-width: 100%;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal input[type="text"] {
  margin-bottom: 3px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .choiceOption .control-label {
  font-weight: bold;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .uiSelectbox {
  margin-bottom: 0;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .selectboxMini .uiSelectbox {
  width: 87px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .selectboxMini .uiSelectbox .selectbox {
  width: 89px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .selectboxMedium .uiSelectbox {
  width: 181px;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .selectboxMedium .uiSelectbox .selectbox {
  width: 184px;
  max-width: 100%;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .uiAction {
  text-align: right;
}
.UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .uiAction .btn:last-child {
  margin-right: 15px;
}
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock {
  padding: 5px 20px 5px 10px;
}
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock .UISEOToolbarPorlet .SEOToolbar .Enable img,
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock .UISEOToolbarPorlet .SEOToolbar .Disable img {
  display: none;
}
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock .UISEOToolbarPorlet .SEOToolbar .Enable span:after,
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock .UISEOToolbarPorlet .SEOToolbar .Disable span:after {
  font-family: "PLF-FONT-ICONS";
  font-size: 17px;
  color: #d80303;
  content: "\e694";
  position: relative;
  top: 2px;
}
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock:hover,
.UIToolbarContainer .uiAdminToolbarPortlet .seoImgBlock:focus,
.UIToolbarContainer .uiAdminToolbarPortlet .dropdown-submenu:hover > .seoImgBlock,
.UIToolbarContainer .uiAdminToolbarPortlet .dropdown-menu .active > .seoImgBlock,
.UIToolbarContainer .uiAdminToolbarPortlet .dropdown-menu .active > .seoImgBlock:hover {
  background-color: #487eb8;
  background-image: -moz-linear-gradient(top, #578dc9, #3367a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#578dc9), to(#3367a0));
  background-image: -webkit-linear-gradient(top, #578dc9, #3367a0);
  background-image: -o-linear-gradient(top, #578dc9, #3367a0);
  background-image: linear-gradient(to bottom, #578dc9, #3367a0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff578dc9', endColorstr='#ff3367a0', GradientType=0);
  color: #ffffff;
}
.UIToolbarContainer .uiAdminToolbarPortlet .quickEditUnchecked {
  background-image: url("/eXoSkin/skin/images/themes/default/platform/skin/ToolbarContainer/check.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
}
.UIToolbarContainer .uiAdminToolbarPortlet .quickEditChecked {
  background-image: url("/eXoSkin/skin/images/themes/default/platform/skin/ToolbarContainer/check.png");
  background-repeat: top-repeat;
  background-position: top center;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
}
.UIToolbarContainer .homeLink {
  display: inline-block;
  padding: 8px 10px;
}
.UIToolbarContainer .uiUserToolBarPortlet > a > img {
  width: 26px;
  height: 26px;
  max-width: none;
  border-radius: 2px;
}
.UIToolbarContainer #HomeLink {
  padding: 8px 10px 0;
}
.UIToolbarContainerDark .NormalContainerBlock .ToolbarContainer {
  background-color: #535353;
  background-image: -moz-linear-gradient(top, #5b5b5b, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b5b5b), to(#474747));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #474747);
  background-image: -o-linear-gradient(top, #5b5b5b, #474747);
  background-image: linear-gradient(to bottom, #5b5b5b, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b5b5b', endColorstr='#ff474747', GradientType=0);
  border-bottom: 1px solid #2c3440;
}
.UIToolbarContainerDark .uiDropdownWithIcon {
  background: url("/eXoSkin/skin/images/themes/default/platform/skin/ToolbarContainer/line.png") no-repeat center left;
}
.UIToolbarContainerDark .uiDropdownWithIcon > a {
  color: #ffffff;
}
.UIToolbarContainerDark .uiDropdownWithIcon > a:hover,
.UIToolbarContainerDark .uiDropdownWithIcon .uiDropdownWithIcon.open > a {
  background: #3f3f3f;
  color: #ffffff;
}
.UIToolbarContainerDark .itemListContainer .uiDropdownWithIcon {
  background: none;
}
.UIToolbarContainerLight .NormalContainerBlock .ToolbarContainer {
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #f4f4f4, #d4d4d4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#d4d4d4));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #d4d4d4);
  background-image: -o-linear-gradient(top, #f4f4f4, #d4d4d4);
  background-image: linear-gradient(to bottom, #f4f4f4, #d4d4d4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffd4d4d4', GradientType=0);
  border-bottom: 1px solid transparent;
}
.UIToolbarContainerLight .uiDropdownWithIcon {
  background: url("/eXoSkin/skin/images/themes/default/platform/skin/ToolbarContainer/line.png") no-repeat left center;
}
.UIToolbarContainerLight .uiDropdownWithIcon > a {
  color: #333333;
}
.UIToolbarContainerLight .uiDropdownWithIcon > a:hover,
.UIToolbarContainerLight .uiDropdownWithIcon.open > a {
  background: rgba(128, 128, 128, 0.3);
  color: #333333;
}
.dropdown .seoImgBlock {
  cursor: pointer;
}
.dropdown .seoImgBlock span {
  color: #333333;
}
.dropdown .seoImgBlock span:hover {
  color: #ffffff;
}
.dropdown .seoImgBlock:hover span {
  color: #ffffff;
}
.uiNotificationPopoverToolbarPortlet .badgeNotification {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uiNotificationPopoverToolbarPortlet .badgeNotification {
  position: absolute;
  top: -4px;
  right: -8px;
  display: none;
}
.uiNotificationPopoverToolbarPortlet .dropdown-menu {
  padding: 0;
}
.uiNotificationPopoverToolbarPortlet .actionMark {
  display: none;
  text-align: right;
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc;
}
.uiNotificationPopoverToolbarPortlet .actionMark > a {
  display: inline-block;
  color: #2f5e92;
  padding: 0!important;
}
.uiNotificationPopoverToolbarPortlet .actionMark > a:hover {
  background: none;
  color: #2f5e92;
}
.uiNotificationPopoverToolbarPortlet .actionMark.markAll {
  display: block;
}
.uiNotificationPopoverToolbarPortlet .actionMark.markAll + li .displayItems li:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uiNotificationPopoverToolbarPortlet .actionLink {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid #cccccc;
  padding: 10px;
}
.uiNotificationPopoverToolbarPortlet .dropdown-menu > li.no-items {
  display: none;
  padding: 25px 10px 25px;
  text-align: center;
  color: #999999;
  background: url("/eXoSkin/skin/images/system/background/iconBell.png") no-repeat center center;
}
.uiNotificationPopoverToolbarPortlet .dropdown-menu > li.blank + .actionLink {
  border-top: none;
}
.uiNotificationPopoverToolbarPortlet .dropdown-menu > li .uiIconAddMembership:before {
  content: "\e6c9";
}
.uiNotificationPopoverToolbarPortlet .dropdown-menu > li .uiIconAddUser:before {
  content: "\e6c4";
}
.uiNotificationPopoverToolbarPortlet .displayItems {
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
}
.uiNotificationPopoverToolbarPortlet .displayItems.scroll {
  overflow: auto;
}
.uiNotificationPopoverToolbarPortlet .displayItems .text-bold {
  font-weight: bold;
}
.uiNotificationPopoverToolbarPortlet .displayItems .user-name {
  color: #2f5e92;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li {
  display: block;
  padding: 6px 25px 6px 10px;
  border-top: 1px solid #cccccc;
  border-top: none;
  position: relative;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li > .remove-item {
  position: absolute;
  top: 4px;
  right: 10px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li > .remove-item > .uiIconClose {
  margin: 0px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.uiNotificationPopoverToolbarPortlet .displayItems > li > .remove-item > .uiIconClose:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .status {
  display: block;
  line-height: 18px;
  margin-bottom: 3px;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .content {
  font-weight: bold;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .content,
.uiNotificationPopoverToolbarPortlet .displayItems > li .content-normal {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .content .btn,
.uiNotificationPopoverToolbarPortlet .displayItems > li .content-normal .btn {
  font-weight: normal;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .content .btn.btn-primary,
.uiNotificationPopoverToolbarPortlet .displayItems > li .content-normal .btn.btn-primary {
  font-weight: bold;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .content .btn + .btn,
.uiNotificationPopoverToolbarPortlet .displayItems > li .content-normal .btn + .btn {
  margin-left: 7px;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .content .confirm,
.uiNotificationPopoverToolbarPortlet .displayItems > li .content-normal .confirm {
  margin-bottom: 3px;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .avatarXSmall {
  margin-top: 4px;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li .lastUpdatedTime {
  color: #999999;
  font-size: 12px;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li [class^="uiIcon"] {
  margin-right: 7px;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li.unread {
  background-color: #e3ecf6;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover {
  background-color: #487eb8;
  background-image: -moz-linear-gradient(top, #578dc9, #3367a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#578dc9), to(#3367a0));
  background-image: -webkit-linear-gradient(top, #578dc9, #3367a0);
  background-image: -o-linear-gradient(top, #578dc9, #3367a0);
  background-image: linear-gradient(to bottom, #578dc9, #3367a0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff578dc9', endColorstr='#ff3367a0', GradientType=0);
  color: #ffffff;
  cursor: pointer;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover > .remove-item > .uiIconClose,
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover > .remove-item > .uiIconClose:hover {
  color: #ffffff !important;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover a {
  color: #ffffff !important;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover .btn {
  color: #333333 !important;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover .btn.btn-primary {
  color: #ffffff !important;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover .lastUpdatedTime {
  color: #ffffff;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover .uiIconLightGray {
  color: #ffffff;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover .uiIconSocLightGray {
  color: #ffffff;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:hover .user-name {
  color: #ffffff;
}
.uiNotificationPopoverToolbarPortlet .displayItems > li:first-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.uiNotificationPopoverToolbarPortlet .loadingIndicator {
  position: relative;
  height: 55px;
  padding: 5px 0px 5px 0px;
  display: none;
  text-align: center;
}
.uiNotificationPopoverToolbarPortlet .loadingIndicator .loadingText {
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 0px;
  text-align: center;
}
@media (max-width: 767px) {
  .UIToolbarContainer .uiCreateToolBarPortlet .create-form-dropdown .dropdown-menu-sub {
    width: 360px;
  }
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .title input[type="text"],
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .selectboxMedium .uiSelectbox,
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .selectboxMedium .uiSelectbox .selectbox {
    width: 100%!important;
  }
  .uiCreateToolBarPortlet .uiQuickAddEvent .inputSmall input[type="text"],
  .uiCreateToolBarPortlet .uiQuickAddEvent .inputSmall input[type="password"],
  .uiCreateToolBarPortlet .uiQuickAddEvent select {
    width: 114px!important;
  }
}
@media (max-width: 640px) {
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .control-label,
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .title .control-label {
    float: left;
  }
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .uiAction {
    text-align: center;
  }
}
/* Fix Responsive*/
@media (max-width: 480px) {
  .UIToolbarContainer .uiCreateToolBarPortlet .create-form-dropdown .dropdown-menu-sub {
    width: 300px;
  }
  .uiCreateToolBarPortlet .uiQuickAddEvent .inputSmall input[type="text"],
  .uiCreateToolBarPortlet .uiQuickAddEvent .inputSmall input[type="password"],
  .uiCreateToolBarPortlet .uiQuickAddEvent select {
    width: 135px!important;
  }
  .uiNotificationPopoverToolbarPortlet .displayItems {
    max-width: none;
    min-width: auto;
  }
  .uiNotificationPopoverToolbarPortlet .uiDropdownWithIcon.dropdown {
    position: static;
  }
  .UIToolbarContainer .uiNotificationPopoverToolbarPortlet .uiDropdownWithIcon > .dropdown-menu {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    left: 0;
    margin-top: 0;
  }
  .UIToolbarContainer .uiNotificationPopoverToolbarPortlet .uiDropdownWithIcon > .dropdown-menu:after,
  .UIToolbarContainer .uiNotificationPopoverToolbarPortlet .uiDropdownWithIcon > .dropdown-menu:before {
    display: none!important;
  }
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .controls,
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .title .controls {
    margin-left: 0;
  }
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .control-label,
  .UIToolbarContainer .uiCreateToolBarPortlet .uiQuickAddEvent .form-horizontal .title .control-label {
    width: auto;
    float: none;
  }
  .uiCreateToolBarPortlet .startTime input,
  .endTime input {
    margin-right: 5px;
  }
  #UICreateList.dropdown-menu {
    border-radius: 0;
    left: auto !important;
    min-width: 180px;
    padding: 0 !important;
    position: fixed;
    right: 0 !important;
    top: 34px;
  }
  #UICreateList.dropdown-menu > li {
    float: left;
  }
  #UICreateList.dropdown-menu > li > a {
    font-size: 0;
    line-height: 0;
    padding: 10px !important;
  }
  #UICreateList.dropdown-menu > li > a > i {
    margin-right: 0;
  }
  #UICreateList.dropdown-menu > li > a:hover {
    background: #f0f0f0;
  }
  #UICreateList.dropdown-menu > li > a:hover > i {
    color: #999999;
  }
}
.uiNotificationPopoverToolbarPortlet.mobile-mode .displayItems {
  max-width: none;
  min-width: auto;
}
.uiNotificationPopoverToolbarPortlet.mobile-mode .uiDropdownWithIcon.dropdown {
  position: static;
}
.UIToolbarContainer .uiNotificationPopoverToolbarPortlet.mobile-mode .uiDropdownWithIcon > .dropdown-menu {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  left: 0;
  margin-top: 0;
}
.UIToolbarContainer .uiNotificationPopoverToolbarPortlet.mobile-mode .uiDropdownWithIcon > .dropdown-menu:after,
.UIToolbarContainer .uiNotificationPopoverToolbarPortlet.mobile-mode .uiDropdownWithIcon > .dropdown-menu:before {
  display: none!important;
}
.UIToolbarContainer .uiDropdownWithIcon > a > i {
  top: -2px;
}
.uiNotificationPopoverToolbarPortlet .dropdown-toggle .uiIconPLF24x24Bell {
  position: relative;
}
@media (max-width: 767px) {
  .UIToolbarContainer .uiCreateToolBarPortlet .create-form-dropdown .dropdown-menu-sub {
    margin-top: 42px;
  }
  .UIToolbarContainer #UICreateList.create-form-dropdown {
    top: 0;
  }
}
.TDContainer {
  vertical-align: top;
}
.LeftNavigationTDContainer {
  width: 250px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  background: #f0f0f0;
  border-right: 1px solid #cccccc;
  vertical-align: top;
  padding: 0px;
}
.RightBodyTDContainer {
  padding: 0px;
  vertical-align: top;
  background: #ffffff url("/eXoSkin/skin/images/themes/default/ShareImages/Background/texture.png") repeat left top;
}
.OfficeLeftTDContainer {
  padding: 40px 0 0 40px;
}
.OfficeMiddleTDContainer {
  padding: 40px!important;
}
.OfficeMiddleTDContainer .calendarWorkingWorkspace,
.OfficeMiddleTDContainer .uiAnswersPortlet,
.OfficeMiddleTDContainer .uiFAQPortlet,
.OfficeMiddleTDContainer .uiForumPortlet,
.OfficeMiddleTDContainer .uiPollPortlet,
.OfficeMiddleTDContainer .uiWikiUpperArea,
.OfficeMiddleTDContainer .wikiLayout,
.OfficeMiddleTDContainer .UIJCRExplorerPortlet {
  padding: 0px;
  margin: 0 0 15px;
}
.OfficeMiddleTDContainer .uiSocApplication {
  padding: 0px;
}
.OfficeMiddleTDContainer .uiAnswersPortlet,
.OfficeMiddleTDContainer .uiECMAdminPortlet .ecmAdminPanel {
  padding-left: 0!important;
}
.OfficeMiddleTDContainer .uiPollPortlet .uiPollContainer {
  margin: 0;
}
.OfficeMiddleTDContainer .uiLeftContainerArea {
  padding-left: 0px;
}
.OfficeMiddleTDContainer .uiRightContainerArea {
  padding-right: 0px;
}
.OfficeMiddleTDContainer .uiECMAdminPortlet .uiECMAdminWorkingArea {
  margin-right: 0;
}
.OfficeMiddleTDContainer .uiECMAdminPortlet .uiResizableBlock .ShowSideBar > div {
  width: 100% !important;
}
.OfficeRightTDContainer {
  width: 285px!important;
  padding: 40px 20px 40px 0;
}
#header {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#footer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.QuickEditUnchecked {
  background: url("/eXoSkin/skin/images/themes/default/platform/skin/ToolbarContainer/ToolbarContainer.png") no-repeat scroll left -48px transparent;
}
.QuickEditChecked {
  background: url("/eXoSkin/skin/images/themes/default/platform/skin/ToolbarContainer/ToolbarContainer.png") no-repeat scroll left -69px transparent;
  padding-left: 24px !important;
}
/* Monitoring */
.MonitoringLeftTDContainer,
.MonitoringRightTDContainer {
  padding: 20px 20px;
}
.MonitoringMiddleTDContainer {
  padding: 20px 0 0;
}
@media (max-width: 767px) {
  .OfficeMiddleTDContainer {
    padding: 20px !important;
  }
}
