.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.uiNotificationAdmin {
  padding: 20px 30px;
}
.uiNotificationAdmin .senderForm label {
  line-height: 27px;
  margin-bottom: 0;
  margin-right: 6px;
}
.uiNotificationAdmin .uiIconPLFWeb:before {
  content: "\e73a";
}
.uiNotificationAdmin .uiIconPLFMail:before {
  content: "\e6b8";
}
.uiNotificationAdmin .uiGrid.table thead th:last-child {
  width: 40%;
}
.uiNotificationAdmin .uiGrid.table tr.disable {
  color: #f8f8f8;
}
.uiNotificationAdmin .uiGrid.table tr td:first-child > label {
  padding-left: 20px;
}
.uiNotificationAdmin .uiGrid.table tr td .view .edit-mode,
.uiNotificationAdmin .uiGrid.table tr td .view .save-setting {
  display: none;
}
.uiNotificationAdmin .uiGrid.table tr td .edit .view-mode,
.uiNotificationAdmin .uiGrid.table tr td .edit .edit-setting {
  display: none;
}
.uiNotificationAdmin .view-mode > div,
.uiNotificationAdmin .edit-mode > div {
  padding: 2px 0;
}
.uiNotificationAdmin .view-mode [class^="uiIconPLF"] {
  margin-right: 4px;
}
.uiNotificationAdmin .view-mode > span {
  color: #999999;
}
.uiNotificationAdmin .edit-mode .uiCheckbox {
  margin-left: 0;
}
.uiNotificationAdmin .edit-mode .uiCheckbox .checkbox + span {
  padding-left: 6px;
}
.uiNotificationAdmin .plugin-container {
  position: relative;
}
.uiNotificationAdmin .plugin-container .right-view {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.uiNotificationAdmin .inputContainer {
  margin: 0 auto;
}
@media (max-width: 480px) {
  .uiNotificationAdmin {
    padding: 15px 10px;
  }
}
